@page
@model RDCELERP.Core.App.Pages.Exchange.IndexModel
@{
    ViewData["Title"] = "Index";
    Layout = "_Layout";
    RDCELERP.Model.Base.AccessRuleViewModel accessRule = (RDCELERP.Model.Base.AccessRuleViewModel)ViewBag.AccessRule;
    var ExchangeImagesURL = ViewData["ExchangeImagesURL"];
    var URLPrefixforProd = ViewData["URLPrefixforProd"];
}
@if (ViewData["UserAuth"] != null)
{
    <script type="text/javascript">
        alert("@ViewData["UserAuth"]");
    </script>
}

<link href="~/NewLayout/css/jquery.dataTables.min.css" rel="stylesheet" />

<div class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="col-12 mb-4">
                <div class="card border-0 shadow">
                    <div class="card-header">
                        <div class="row align-items-center">
                            <div class="col">
                                <h2 class="fs-5 fw-bold mb-0">Exchange Orders</h2>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table id="ExchangeDatatable" class="table align-items-center" border="1">
                                <thead class="thead-light">
                                    <tr>
                                        <th class="all notexport">Id</th>
                                        <th class="all notexport">Actions</th>
                                        <th class="all">Company</th>
                                        <th class="all">Regd No.</th>
                                        <th class="all">Pin Code</th>
                                        <th class="all">Product Details</th>
                                        <th class="all">Status</th>
                                        <th class="all">Order Date</th>
                                        <th class="all">Final Price</th>
                                        <th class="all">Customer UPI Id</th>
                                        <th class="all">POD</th>
                                        @*this field use for Excel inport*@
                                        <th class="all">OrderStatus</th>
                                        <th class="all">CustomerFullName</th>
                                        <th class="all">CustomerAddress</th>
                                        <th class="all">CustomerCity</th>
                                        <th class="all">CustomerState</th>
                                        <th class="all">ProductTypeId</th>
                                        <th class="all">BrandId</th>
                                        <th class="all">Bonus</th>
                                        <th class="all">SponsorOrderNumber</th>
                                        <th class="all">EstimatedDeliveryDate</th>
                                        <th class="all">ProductCondition</th>
                                        <th class="all">LoginID</th>
                                        <th class="all">StoreCode</th>
                                        <th class="all">VoucherCode</th>
                                        <th class="all">IsDtoC</th>
                                        <th class="all">BusinessPartnerId</th>
                                        <th class="all">IsVoucherused</th>
                                        <th class="all">VoucherCodeExpDate</th>
                                        <th class="all">ExchangePrice</th>
                                        <th class="all">NewProductCategoryId</th>
                                        <th class="all">NewProductTypeId</th>
                                        <th class="all">NewBrandId</th>
                                        <th class="all">ModelNumberId</th>
                                        <th class="all">QCDate</th>
                                        <th class="all">StartTime</th>
                                        <th class="all">EndTime</th>
                                        <th class="all">StatusId</th>
                                        <th class="all">VoucherStatusId</th>
                                        <th class="all">Sweetener</th>
                                        <th class="all">SerialNumber</th>
                                        <th class="all">FinalExchangePrice</th>
                                        <th class="all">IsDefferedSettlement</th>
                                        <th class="all">CreatedDate</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>


                    @*List Page Common Filters Code By PS 21.03.2030*@
                    <div class="filters">
                        <div class="p-4">

                            <h4 class="">Filters</h4>

                            <p class="filterheading"><input type="checkbox" name="" id="chkDateRange">Date Range</p>
                            <div class="filterbox">
                                <input type="text" class="form-control d-inline mb-2" id="startdate" readonly placeholder="Start Date" autocomplete="off">
                                <input type="text" class="form-control d-inline mb-2" id="enddate" readonly placeholder="End Date" autocomplete="off">
                            </div>

                            <div class="filter-seprator"></div>

                            <p class="filterheading"><input type="checkbox" name="" id="chkProductCategory">Product Category</p>

                            <div class="filterbox">
                                <select asp-for="searchFilterVM.ProductCatId" id="ddlprodcatid" class="form-control d-inline" asp-items="ViewBag.ProductGroup">
                                    <option value='0'>--Product Cat--</option>
                                </select>
                                <span asp-validation-for="searchFilterVM.ProductCatId" class="text-danger"></span>
                            </div>

                            <div class="filter-seprator"></div>

                            <p class="filterheading"><input type="checkbox" name="" id="chkProductType">Product Type</p>

                            <div class="filterbox">
                                <select asp-for="searchFilterVM.ProductTypeId" id="ddlprodcattypeid" class="form-control d-inline" asp-items="ViewBag.productTypeList">
                                    <option value='0'>--Product Type--</option>
                                </select>
                                <span asp-validation-for="searchFilterVM.ProductTypeId" class="text-danger"></span>
                            </div>

                            <div class="filter-seprator"></div>

                            <p class="filterheading"><input type="checkbox" name="" id="chkregdNo">Regd No</p>

                            <div class="filterbox">
                                <input type="text" class="form-control d-inline" id="regdNo" placeholder="Search RegdNo">
                            </div>

                            <div class="filter-seprator"></div>

                            <p class="filterheading"><input type="checkbox" name="" id="chkPhoneNo">Phone Number</p>

                            <div class="filterbox">
                                <input type="text" class="form-control d-inline" id="phoneNo" placeholder="Search Phone Number">
                            </div>

                            <div class="filter-seprator"></div>

                            <p class="filterheading"><input type="checkbox" name="" id="chkpinCode">Pin Code</p>

                            <div class="filterbox">
                                <input type="text" class="form-control d-inline" id="pinCode" placeholder="Search Pin Code">
                            </div>

                            <div class="filter-seprator"></div>

                            <p class="filterheading"><input type="checkbox" name="" id="chkcompanyName">Company Name</p>

                            <div class="filterbox">
                                <input type="text" class="form-control d-inline" id="companyName" placeholder="Search Company Name">
                            </div>

                            <div class="filterbtnwrap">
                                <a id="btnFilter" class="btn btn-primary">Filter</a>
                                <a id="btnCloseFilter" class="btn btn-secondary py-2">Cancel</a>
                            </div>
                        </div>
                    </div>


                </div>
            </div>

        </div>
    </div>
</div>

<script src="~/NewLayout/assets/js/jquery.dataTables.min.js"></script>
<script src="~/NewLayout/vendor/jquery-ui/jquery-ui.js"></script>
<script src="~/NewLayout/assets/js/exportTable.js"></script>

<script type="text/javascript">

    //variable declaration
    var table = null;

    $(document).ready(function () {

        // function anyInputChecked() {
        //     var anyChecked = false;
        //     $('.filters').find('.form-control').each(function () {
        //         if ($(this).is('select')) {
        //             if ($(this).prop('selectedIndex') !== 0) {
        //                 anyChecked = true;
        //                 return false;
        //             }
        //         } else {
        //             if ($(this).val().trim() !== '') {
        //                 anyChecked = true;
        //                 return false;
        //             }
        //         }
        //     });
        //     return anyChecked;
        // }

        // function updateButtonState() {
        //     var btnFilter = $('#btnFilter');
        //     var btnCloseFilter = $('#btnCloseFilter');

        //     if (anyInputChecked()) {
        //         btnFilter.removeClass('disabled');
        //     } else {
                
        //         btnFilter.addClass('disabled');
        //     }
        // }

        // $('.filters .form-control').on('keyup change', updateButtonState);

        // updateButtonState();

        var url = "@ViewData["URLPrefixforProd"]/api/ExchangeOrders/ExchangeList?companyId=" + @ViewBag.CompanyId;
     
        DataTable(url);

        //Hide Filters Dive
        $('.filters').hide();

        //Date Picker Validation
        $("#startdate").datepicker({
            defaultDate: null,
            maxDate: 'today',
            onSelect: function (selectedDate) {
                $("#enddate").datepicker("option", "minDate", selectedDate);
            }
        });
        $("#enddate").datepicker({
            defaultDate: null,
            maxDate: 'today',
        });
    });

    $('#btnCloseFilter').click(function () {
        $('#startdate').val("");
        $('#enddate').val("");
        $('#ddlprodcatid').val(0);
        $('#ddlprodcattypeid').empty();
        $('#ddlprodcattypeid').append("<option value='0'>--Product Type--</option>");       
        $('#regdNo').val("");
        $('#phoneNo').val("");
        $('#pinCode').val("");
        $('#companyName').val("");
        $('.filters input[type="checkbox"]').prop('checked', false);
        $('.filterbox').hide();
        CommonFilter();
    });

    //Check Box Date Range change Event
    $("#chkDateRange").click(function () {
        if (!this.checked) {
            $('#startdate').val("");
            $('#enddate').val("");
        }
    });

    //Check Box Product Category change Event
    $("#chkProductCategory").click(function () {
        if (!this.checked) {
            $('#ddlprodcatid').val(0);
        }
    });

    //Check Box Product Type change Event
    $("#chkProductType").click(function () {
        if (!this.checked) {
            $('#ddlprodcattypeid').val(0);
        }
    });

    //Check Box Regd Number change Event
    $("#chkregdNo").click(function () {
        if (!this.checked) {
            $('#regdNo').val("");
        }
    });

    //Check Box Phone Number change Event
    $("#chkPhoneNo").click(function () {
        if (!this.checked) {
            $('#phoneNo').val("");
        }
    });

    //Check Box pin Code change Event
    $("#chkpinCode").click(function () {
        if (!this.checked) {
            $('#pinCode').val("");
        }
    });

    //Check Box Brand Name change Event
    $("#chkcompanyName").click(function () {
        if (!this.checked) {
            $('#companyName').val("");
        }
    });

    // LGC Pickup multi Search Filter
    $('#btnFilter').click(function () {
        CommonFilter();
    });

    // Changes for Implement Multiple Filters
    $("#ddlprodcatid").change(function () {
        $.get("@URLPrefixforProd/api/Dropdown/OnGetProductCategoryTypeAsync?productCatId=" + $(this).val()).done(function (data) {
            $("#ddlprodcattypeid").empty();
            $("#ddlprodcattypeid").append($("<option></option>").val('0').html('Select ProductType'));
            $.each(data, function (i, producttype) {
                $("#ddlprodcattypeid").append($("<option></option>").val(producttype.text).html(producttype.value));
            });
        });
    });

    //Filter Function


    //All Data Export--

    //Filter Clsoe Button Click Event
   

    //DataTable Function Call
    function DataTable(url, startDate, endDate) {
        table = $('#ExchangeDatatable').DataTable({
            "order": [[0, 'desc']],
            "processing": true,
            "serverSide": true,
            "scrollX": true,
            "paging": true,
            "filter": true,
            "data": { startDate: startDate, endDate: endDate },
            "dom": 'Bfrtlp',
            "searching": false,
            "buttons": [
                {
                    text: '<button class="btn btn-primary" id="filterboxbtnright"><i class="fa-solid fa-filter"></i></button>',
                    action: function (e, dt, node, config) {
                        $('.filters').toggle();
                        //$('.content').toggleClass('maincontent');
                        //$('.filters').insertBefore('table.dataTable');
                    }
                },
                {
                    extend: 'excel', text: '<div class="exportbtnwrapper"><button class="btn btn-primary" id="exportbtn"><i class="fa-solid fa-download"></i> Download Excel</button></div>', id: "exportbtn",
                    title: 'Exchange Order List',
                    action: newexportaction,
                    exportOptions: {
                        modifier: {
                            // DataTables core
                            order: 'index',  // 'current', 'applied', 'index',  'original'
                            page: 'all',      // 'all',     'current' for export all pages data
                            search: 'none'     // 'none',    'applied', 'removed'
                        },
                        columns: ':not(.notexport)'
                    }
                }
            ],
            "oLanguage": {
                "sEmptyTable": "No Data found"
            },
            "ajax": {
                "url": url,
                "type": "POST",
                "datatype": "json"
            },
            "columnDefs": [{
                "targets": [0],
                "visible": false,
                "searchable": false
            }],

            "responsive": true,
            "columns": [
                { "data": "id", "name": "Id", "autoWidth": true, "orderable": false },
                { "data": "action", "name": "Action", "autoWidth": true, "orderable": false },
                { "data": "companyName", "name": "CompanyName", "autoWidth": true },
                { "data": "regdNo", "name": "RegdNo", "autoWidth": true },
                { "data": "zipCode", "name": "ZipCode", "autoWidth": true },
                { "data": "productDetail", "name": "ProductDetail", "autoWidth": true },
                { "data": "statusName", "name": "StatusName", "autoWidth": true },
                { "data": "createDateString", "name": "CreateDateString", "autoWidth": true },
                { "data": "finalExchangePrice", "name": "FinalExchangePrice", "autoWidth": true },
                { "data": "upiId", "name": "UpiId", "autoWidth": true },
                { "data": "podURL", "name": "PodURL", "autoWidth": true },
                
                //Fields for Download Excel
                { "data": "orderStatus", "name": "OrderStatus", "autoWidth": true, "orderable": false, "visible": false },
                { "data": "custFullname", "name": "CustFullname", "autoWidth": true, "orderable": false, "visible": false },
                { "data": "custAddress", "name": "CustAddress", "autoWidth": true, "orderable": false, "visible": false },
                { "data": "custCity", "name": "CustCity", "autoWidth": true, "orderable": false, "visible": false },
                { "data": "custState", "name": "CustState", "autoWidth": true, "orderable": false, "visible": false },
                { "data": "productTypeId", "name": "ProductTypeId", "autoWidth": true, "orderable": false, "visible": false },
                { "data": "brandId", "name": "BrandId", "autoWidth": true, "orderable": false, "visible": false },
                { "data": "bonus", "name": "Bonus", "autoWidth": true, "orderable": false, "visible": false },
                { "data": "sponsorOrderNumber", "name": "SponsorOrderNumber", "autoWidth": true, "orderable": false, "visible": false },
                { "data": "estimatedDeliveryDate", "name": "EstimatedDeliveryDate", "autoWidth": true, "orderable": false, "visible": false },
                { "data": "productCondition", "name": "ProductCondition", "autoWidth": true, "orderable": false, "visible": false },
                { "data": "loginId", "name": "LoginID", "autoWidth": true, "orderable": false, "visible": false },
                { "data": "storeCode", "name": "StoreCode", "autoWidth": true, "orderable": false, "visible": false },
                { "data": "voucherCode", "name": "VoucherCode", "autoWidth": true, "orderable": false, "visible": false },
                { "data": "isDtoC", "name": "IsDtoC", "autoWidth": true, "orderable": false, "visible": false },
                { "data": "businessPartnerId", "name": "BusinessPartnerId", "autoWidth": true, "orderable": false, "visible": false },
                { "data": "isVoucherused", "name": "IsVoucherused", "autoWidth": true, "orderable": false, "visible": false },
                { "data": "voucherCodeExpDate", "name": "VoucherCodeExpDate", "autoWidth": true, "orderable": false, "visible": false },
                { "data": "exchangePrice", "name": "ExchangePrice", "autoWidth": true, "orderable": false, "visible": false },
                { "data": "newProductCategoryId", "name": "NewProductCategoryId", "autoWidth": true, "orderable": false, "visible": false },
                { "data": "newProductTypeId", "name": "NewProductTypeId", "autoWidth": true, "orderable": false, "visible": false },
                { "data": "newBrandId", "name": "NewBrandId", "autoWidth": true, "orderable": false, "visible": false },
                { "data": "modelNumberId", "name": "ModelNumberId", "autoWidth": true, "orderable": false, "visible": false },
                { "data": "qcdate", "name": "QCDate", "autoWidth": true, "orderable": false, "visible": false },
                { "data": "startTime", "name": "StartTime", "autoWidth": true, "orderable": false, "visible": false },
                { "data": "endTime", "name": "EndTime", "autoWidth": true, "orderable": false, "visible": false },
                { "data": "statusId", "name": "StatusId", "autoWidth": true, "orderable": false, "visible": false },
                { "data": "voucherStatusId", "name": "VoucherStatusId", "autoWidth": true, "orderable": false, "visible": false },
                { "data": "sweetener", "name": "Sweetener", "autoWidth": true, "orderable": false, "visible": false },
                { "data": "serialNumber", "name": "SerialNumber", "autoWidth": true, "orderable": false, "visible": false },
                { "data": "finalExchangePrice", "name": "FinalExchangePrice", "autoWidth": true, "orderable": false, "visible": false },
                { "data": "isDefferedSettlement", "name": "IsDefferedSettlement", "autoWidth": true, "orderable": false, "visible": false },
                { "data": "createdDate", "name": "CreatedDate", "autoWidth": true, "orderable": false, "visible": false }
            ]
        });
    }

    function GetURLData(startDate = null, endDate = null, companyName = null, productCatId = null, productTypeId = null, regdNo = null, phoneNo = null, pinCode = null) {
        var urlData = "";
        if (startDate != null && endDate != null) {
            urlData += '&startDate=' + startDate + '&endDate=' + endDate;
        }
        if (companyName != null) {
            urlData += '&companyName=' + companyName;
        }
        if (productCatId != null && productCatId > 0) {
            urlData += '&productCatId=' + productCatId;
        }
        if (productTypeId != null && productTypeId > 0) {
            urlData += '&productTypeId=' + productTypeId;
        }
        if (regdNo != null) {
            urlData += '&regdNo=' + regdNo;
        }
        if (phoneNo != null) {
            urlData += '&phoneNo=' + phoneNo;
        }
        if (pinCode != null) {
            urlData += '&pinCode=' + pinCode;
        }
        return urlData;
    }

    function CommonFilter() {
        var companyName = $('#companyName').val();
        companyName = $('#companyName').val() == "" ? null : $('#companyName').val();

        var productCatId = $('#ddlprodcatid').val();
        productCatId = $('#ddlprodcatid').val() == "" ? 0 : $('#ddlprodcatid').val();
        var productTypeId = $('#ddlprodcattypeid').val();
        productTypeId = $('#ddlprodcattypeid').val() == "" ? 0 : $('#ddlprodcattypeid').val();

        var startDate = $('#startdate').val();
        startDate = $('#startdate').val() == "" ? null : $('#startdate').val();
        var endDate = $('#enddate').val();
        endDate = $('#enddate').val() == "" ? null : $('#enddate').val();

        var regdNo = $('#regdNo').val();
        regdNo = $('#regdNo').val() == "" ? null : $('#regdNo').val();
        var phoneNo = $('#phoneNo').val();
        phoneNo = $('#phoneNo').val() == "" ? null : $('#phoneNo').val();
        var pinCode = $('#pinCode').val();
        pinCode = $('#pinCode').val() == "" ? null : $('#pinCode').val();

        var urlData = GetURLData(startDate, endDate, companyName, productCatId, productTypeId, regdNo, phoneNo, pinCode);

        var url = null;
        url = "@ViewData["URLPrefixforProd"]/api/ExchangeOrders/ExchangeList?companyId=" + @ViewBag.CompanyId + urlData;

        // var url = null;
        // if (startDate == null || endDate == null) {
        //     url = "@ViewData["URLPrefixforProd"]/api/ExchangeOrders/ExchangeList?companyId=" + @ViewBag.CompanyId +'&productCatId=' + productCatId + "&productTypeId=" + productTypeId + "&regdNo=" +
        //         regdNo + "&phoneNo=" + phoneNo + "&pinCode=" + pinCode + "&companyName=" + companyName;
        // }
        // else {
        //     url = "@ViewData["URLPrefixforProd"]/api/ExchangeOrders/ExchangeList?companyId=" + @ViewBag.CompanyId + '&startDate=' + startDate + ' &endDate=' + endDate + "&productCatId=" + productCatId + "&productTypeId=" + productTypeId + "&regdNo=" +
        //         regdNo + "&phoneNo=" + phoneNo + "&pinCode=" + pinCode + "&companyName=" + companyName;
        // }


        // Destroy the existing DataTable
        table = $('#ExchangeDatatable').DataTable();
        // Destroy the existing DataTable
        table.clear().destroy();
        //table.destroy();
        DataTable(url);
        //DataTable(url, startDate, endDate);
        $('.filters').hide();
    }

    function newexportaction(e, dt, button, config) {
        var self = this;
        var oldStart = dt.settings()[0]._iDisplayStart;
        dt.one('preXhr', function (e, s, data) {
            // Just this once, load all data from the server...
            data.start = 0;
            data.length = 2147483647;
            dt.one('preDraw', function (e, settings) {
                // Call the original action function
                if (button[0].className.indexOf('buttons-copy') >= 0) {
                    $.fn.dataTable.ext.buttons.copyHtml5.action.call(self, e, dt, button, config);
                } else if (button[0].className.indexOf('buttons-excel') >= 0) {
                    $.fn.dataTable.ext.buttons.excelHtml5.available(dt, config) ?
                        $.fn.dataTable.ext.buttons.excelHtml5.action.call(self, e, dt, button, config) :
                        $.fn.dataTable.ext.buttons.excelFlash.action.call(self, e, dt, button, config);
                }
                dt.one('preXhr', function (e, s, data) {
                    // DataTables thinks the first item displayed is index 0, but we're not drawing that.
                    // Set the property to what it was before exporting.
                    settings._iDisplayStart = oldStart;
                    data.start = oldStart;
                });
                // Reload the grid with the original page. Otherwise, API functions like table.cell(this) don't work properly.
                setTimeout(dt.ajax.reload, 0);
                // Prevent rendering of the full data to the DOM
                return false;
            });
        });
        // Requery the server with the new one-time export settings
        dt.ajax.reload();
    };
        //For Export Buttons available inside jquery-datatable "server side processing" - End

</script>