@page
@model RDCELERP.Core.App.Pages.QCPortal.SelfQCModel
@{
    int imageLabelViewModelsCount = Model.selfQcVideoImageViewModel.imageLabelViewModels.Count();
    int count = 1;
    int count1 = 1;
    int imageLabelId = 1;
    var URLPrefixforProd = Model.URLPrefixforProd;
}
<!doctype html>
<html lang="en">
<head>
    <title>Product Description</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
          integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap"
          rel="stylesheet">

    <link href="~/SelfQC-assets/css/style.css" rel="stylesheet" />
    <style>
        #overlay {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;  
            background-color: rgba(0, 0, 0, 0.5);
            z-index: 9999;
            pointer-events: none;
        }

        .VideoOverlay {
            overflow-y: hidden;
            cursor: not-allowed;
            user-select: none;
        }

        .VideoRecState {
            position: fixed;
            left: 50%;
            top: -20px;
            transform: translate(-50%, 0);
            max-width: 440px;
            z-index: 999999 !important;
        }

            .VideoRecState:hover {
                transform: translate(-50%, 0) !important;
            }

        #loader {
            position: fixed;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            background-color: #000000c2;
            z-index: 9999;
            height: 100%;
        }

        .loaderwrap {
            width: 150px;
            position: fixed;
            background: #fff;
            left: 50%;
            top: 50%;
            border-radius: 6px;
            transform: translate(-50%, -50%);
            box-shadow: 0 0 30px rgb(0 0 0 / 10%);
            box-sizing: content-box;
            padding: 20px 20px 5px 20px;
        }

            .loaderwrap img {
                width: 100%;
                display: block;
            }

            .loaderwrap p {
                text-align: center;
                font-size: 13px;
                color: #737373;
            }
    </style>
</head>
<body>
    <div id="wrapper">
        <form method="post" enctype="multipart/form-data" id="SelfQCForm">
            <input type="hidden" asp-for="selfQcVideoImageViewModel.imageLabelViewModels.Count" id="hdnCount" />
            <input type="hidden" asp-for="selfQCExchangeDetailsView.ProductCategory" id="hdnproducttype" />
            <input type="hidden" asp-for="selfQCExchangeDetailsView.OrderTransId" id="hdnOrderTransId" />
            <input type="hidden" asp-for="selfQCExchangeDetailsView.StatusId" id="hdnStatusId" />
            <div id="loader" style="display: none;">
                <div class="loaderwrap">
                    <img src="~/SelfQC-assets/img/digi2l-gif.gif">
                    <p>Please Wait ...</p>
                </div>
            </div>
            <div class="topwave">
                <img src="~/SelfQC-assets/img/top-wave.svg" class="img-fluid rounded-top" />
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-10 mx-auto">
                        <div class="topsec">
                            <div class="row">
                                <input type="hidden" id="hdnselfqcvideo" asp-for="selfQcVideoImageViewModel.SelfQCVideo" />
                                <input type="hidden" asp-for="selfQcVideoImageViewModel.LoginId" id="hdnloginid" />
                                <input type="hidden" value="@Model.selfQCExchangeDetailsView.RegdNo" id="hdnRegdno" />

                                <div class="col-lg-7">
                                    <div class="topcontentsec">
                                        <h2>Welcome To Digi2L</h2>
                                        <p>
                                            Digi2L is India’s first company that helps you in the disposal of your used appliances and gadgets without having to face the hassles of looking for customers and the best price while ensuring spot payment and free home pick up of the used product.
                                        </p>
                                    </div>
                                </div>
                                <div class="col-lg-5 text-center logo-order">
                                    <div class="logowrap">
                                        <img src="~/SelfQC-assets/img/digi2l-arrow-01.png" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="meta-detail">
                            <div class="row text-center">
                                <div class="col-md-4 p-4">
                                    <p>Welcome,</p>
                                    <h5>@Model.selfQCExchangeDetailsView.CustomerName</h5>
                                </div>
                                <div class="col-md-4 p-4">
                                    <p>Appliance Cateogry,</p>
                                    <h5>@Model.selfQCExchangeDetailsView.ProductCategory</h5>
                                </div>
                                <div class="col-md-4 py-4">
                                    <p>Reg. No.</p>
                                    <h5>@Model.selfQCExchangeDetailsView.RegdNo</h5>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 my-4">
                                <h4 class="uploadheading mt-4">- Please upload required photos below -</h4>
                            </div>
                            @for (int i = 0; i < imageLabelViewModelsCount; i++)
                            {
                                { imageLabelId = Model.selfQcVideoImageViewModel.imageLabelViewModels[i].ImageLabelid; }
                                <input type="hidden" asp-for="selfQcVideoImageViewModel.imageLabelViewModels[i].ProductImageDescription" />
                                <input type="hidden" asp-for="selfQcVideoImageViewModel.imageLabelViewModels[i].ProductImageLabel" />
                                <input type="hidden" asp-for="selfQcVideoImageViewModel.imageLabelViewModels[i].RegdNo" />
                                <input type="hidden" asp-for="selfQcVideoImageViewModel.imageLabelViewModels[i].BusinessType" />
                                <input type="hidden" asp-for="selfQcVideoImageViewModel.imageLabelViewModels[i].FileName" id="hdnFileName_@count" />
                                <input type="hidden" asp-for="selfQcVideoImageViewModel.imageLabelViewModels[i].IsMediaTypeVideo" id="hdnIsMediaTypeVideo_@count" />
                                <input type="hidden" asp-for="selfQcVideoImageViewModel.imageLabelViewModels[i].ImageLabelid" id="hdnImageLabelId_@count" />
                                if (Model.selfQcVideoImageViewModel.imageLabelViewModels[i].IsMediaTypeVideo == true)
                                {
                                    <div class="col-md-6" id="uploadwrap_@count">
                                        <div class="uploadwrap videouploadbox" id="videouploadbox_@count">
                                            <h5>@Html.DisplayFor(m => m.selfQcVideoImageViewModel.imageLabelViewModels[i].ProductImageLabel)</h5>
                                            <div class="removebtn">
                                                <i class="fa-solid fa-xmark"></i>
                                            </div>
                                            <div class="uploadbox">
                                                <div class="uploadtop" id="uploadtop_@count">
                                                    <div id="videoPlaceHolderDiv_@count">
                                                        @if (Model.selfQcVideoImageViewModel.imageLabelViewModels[i].FullPlaceHolderImageUrl != null)
                                                        {
                                                            @*<video id="videoElement" name="videoElement" width="320" height="200"></video>*@
                                                            @*<button id="startButton">Start Recording</button>*@
                                                            <img src="@Model.selfQcVideoImageViewModel.imageLabelViewModels[i].FullPlaceHolderImageUrl" id="videoPlaceHolder_@count" />
                                                        }
                                                        else
                                                        {
                                                            <div class="ApplianceIconWrapper">
                                                                <i class="fa-solid fa-tv uploadicons"></i>
                                                            </div>
                                                        }
                                                    </div>
                                                    <div class="UploadContentBox">
                                                        <video id="videoElement_@count" name="videoElement_@count" class="VideoBox videoElement" muted></video>
                                                        <p class="ApplianceTitle">@Html.DisplayFor(m => m.selfQcVideoImageViewModel.imageLabelViewModels[i].ProductImageLabel)</p>
                                                        <p class="validationmsg">
                                                            <span id="texttospeech_@count1">@Html.DisplayFor(m => m.selfQcVideoImageViewModel.imageLabelViewModels[i].ProductImageDescription)</span>
                                                        </p>
                                                    </div>
                                                    <label id="lblFileErr_@count" class="ErrorMsg" style="color:#333;"></label>
                                                </div>
                                                <div class="uploadbottom" id="uploadbottom_@count">
                                                    <div class="file">
                                                        <button id="startButton_@count" onclick="startButton(@count)" class="btn btn-primary">Start Recording</button>
                                                        <a href="javascript:void(0)" id="ResetButton_@count" class="btn btn-dark mainshadow my-2 ResetButton" onclick="resetVideo(@count);">Reset</a>
                                                        <input type="hidden" asp-for="selfQcVideoImageViewModel.imageLabelViewModels[i].Base64StringValue" id="hdnBase64StringValue_@count" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="imgpreview">
                                            </div>
                                            <a class="VoiceIconBox" onclick="speakText('texttospeech_@count1')"><i class="fa-solid fa-volume-high" id="texttospeech_@count1"></i></a>
                                        </div>
                                    </div>
                                }
                                else
                                {
                                    <div class="col-md-6">
                                        <div class="uploadwrap" id="uploadwrap_@count">
                                            <h5>@Html.DisplayFor(m => m.selfQcVideoImageViewModel.imageLabelViewModels[i].ProductImageLabel)</h5>
                                            <div class="removebtn">
                                                <i class="fa-solid fa-xmark"></i>
                                            </div>
                                            <div class="uploadbox">
                                                <div class="uploadtop" id="uploadtop_@count">
                                                    @if (Model.selfQcVideoImageViewModel.imageLabelViewModels[i].FullPlaceHolderImageUrl != null)
                                                    {
                                                        <img src="@Model.selfQcVideoImageViewModel.imageLabelViewModels[i].FullPlaceHolderImageUrl" />
                                                    }
                                                    else
                                                    {
                                                        <div class="ApplianceIconWrapper">
                                                            <i class="fa-solid fa-tv uploadicons"></i>
                                                        </div>
                                                    }
                                                    <div class="UploadContentBox">
                                                        <p class="ApplianceTitle">@Html.DisplayFor(m => m.selfQcVideoImageViewModel.imageLabelViewModels[i].ProductImageLabel)</p>
                                                        <p class="validationmsg">
                                                            <span id="texttospeech_@count1">@Html.DisplayFor(m => m.selfQcVideoImageViewModel.imageLabelViewModels[i].ProductImageDescription)</span>
                                                        </p>
                                                    </div>
                                                    <label id="lblFileErr_@count" class="ErrorMsg" style="color:#333;"></label>
                                                </div>
                                                <div class="uploadbottom" id="uploadbottom_@count">
                                                    <div class="file">
                                                        Upload
                                                        <input type="file" id="Image_Upload_@count" accept="image/*" asp-for="selfQcVideoImageViewModel.imageLabelViewModels[i].Image" />
                                                        <input type="hidden" asp-for="selfQcVideoImageViewModel.imageLabelViewModels[i].Base64StringValue" id="hdnBase64StringValue_@count" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="imgpreview">
                                                <img id="showimg_@count1" />
                                            </div>
                                            @* <div class="uploadbottom picRetake" id="uploadbottom_10" style="border: none;">
                                    </div> *@

                                            <a class="VoiceIconBox" onclick="speakText('texttospeech_@count1')"><i class="fa-solid fa-volume-high" id="texttospeech_@count1"></i></a>
                                        </div>
                                    </div>
                                }
                                count += 1;
                                count1 += 1;
                            }
                        </div>
                        <!-- bottom fields -->
                        <div class="row my-4">
                            <div class="col-12 text-end  my-4">
                                <input type="button" value="Submit" class="btn btn-primary" id="btnSubmit">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <!-- Bootstrap JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@@popperjs/core@2.11.6/dist/umd/popper.min.js"
            integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
            integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous"></script>
    <script src="~/js/compressor.js"></script>



    <script type="text/javascript">
        function validateImages() {
            var flag = true;
            var a = $('#hdnCount').val();
            for (let i = 1; i <= a; i++) {
                var imgBase = $("#hdnBase64StringValue_" + i).val();
                var isVideo = $("#hdnIsMediaTypeVideo_" + i).val();

                if ((imgBase == '' || imgBase == null) && isVideo != "True") {
                    $("#Image_Upload_" + i).css("border", "1px solid red");
                    $("#uploadtop_" + i).css("border", "1px solid red");
                    $("#uploadbottom_" + i).css("border", "1px solid red");
                    // $("#Image_Upload_" + i).focus();
                    $("#showimgbox_" + i).css("display", "flex");
                    $("#showImg_" + i).attr('src', "");
                    $("#lblFileErr_" + i).text("Please Upload Correct Image.");
                    $("#Image_Upload_" + i).addClass("IsEmpty");
                    flag = false;
                }
                else if ((imgBase == '' || imgBase == null) && isVideo == "True") {
                    $("#uploadtop_" + i).css("border", "1px solid red");
                    $("#uploadbottom_" + i).css("border", "1px solid red");
                    $("#lblFileErr_" + i).text("Please Record a Video.");
                    $("#uploadtop_" + i).addClass("IsEmpty");
                    flag = false;
                }
                else {
                    $("#Image_Upload_" + i).css("border", ""); $("#lblFileErr_" + i).text("");
                    $("#Image_Upload_" + i).removeClass("IsEmpty");
                    $("#uploadtop_" + i).removeClass("IsEmpty");
                }
            }
            return flag;
        }

        var a = $('#hdnCount').val();

        $('.imgpreview img').hide();

        $(document).ready(function () {
            $('.VideoBox').hide();
            $('.timerBox').hide();
            $('.VideoStatus').hide();
            $('.ResetButton').hide();
            for (let i = 1; i <= a; i++) {
                var uploadwrapbox = "#" + $('#uploadwrap_' + i).attr('id');
                $(uploadwrapbox + ' .removebtn').hide();
                $(uploadwrapbox + ' h5').hide();
                $("#Image_Upload_" + i).bind('change', function () {
                    $("#lblFileErr_" + i).text("");
                    $("#lbInvoicelFileName_" + i).text("");
                    $("#lbInvoicelFileName_" + i).append(this.files[0].name);
                    $("#uploadtop_" + i).css("border", "none");
                    $("#uploadbottom_" + i).css("border", "none");
                    $("#hdnBase64StringValue_" + i).val("");
                });
                $("#Image_Upload_" + i).resizeImg(function () {
                    var value = parseInt("350");
                    var Weight = parseInt("2");
                    let type, quality; {
                        type = "image/jpeg";
                        quality = 0.8;
                    }
                    return {
                        use_reader: false,
                        mode: Weight,
                        val: value,
                        type: type,
                        quality: quality,
                        callback: function (result) {
                            $("#showimg_" + i).attr('src', result);
                            $("#hdnBase64StringValue_" + i).val(result.substr(result.indexOf(',') +
                                1)).css("height", 100);
                            $("#Image_Upload_" + i).val(null);
                            //shashi
                            $("#showimg_" + i).show();
                            $('#uploadwrap_' + i + ' .removebtn').show();
                            $('#uploadwrap_' + i + ' h5').show();
                            $('#uploadwrap_' + i).addClass('uploadwrapborder');
                            $('#uploadwrap_' + i + ' .uploadtop').hide();
                            $('#uploadwrap_' + i + ' .uploadbottom').hide();
                            SaveFile(i);
                        }
                    };
                })
            }
        });

        for (let j = 1; j <= a; j++) {
            let currentJ = j;
            $('#uploadwrap_' + currentJ + ' .removebtn').click(function () {
                $('#uploadwrap_' + currentJ + ' .removebtn').hide();
                $('#uploadwrap_' + currentJ + ' h5').hide();
                $('#Image_Upload_' + currentJ).val(null);
                $('#hdnBase64StringValue_' + currentJ).val(null);
                $('#uploadwrap_' + currentJ).removeClass(' uploadwrapborder');
                $('#uploadwrap_' + currentJ + ' .uploadtop').show();
                $('#uploadwrap_' + currentJ + ' .uploadbottom').show();
                $("#showimg_" + currentJ).removeAttr('src');
                $("#showimg_" + currentJ).removeAttr('style');
                $("#showimg_" + currentJ).hide();
                DeleteFile(currentJ);
            });
        }

        $('#btnSubmit').click(function () {
            const videoElement = document.getElementsByClassName('videoElement');
            if (validateImages()) {
                // for (let j = 1; j <= a; j++) {
                //     $('#hdnBase64StringValue_' + j).val("Media File Saved Already");
                // }
                $('#btnSubmit').hide();
                $('#SelfQCForm').submit();
            }
            else {
                $('html, body').animate({
                    scrollTop: $('.IsEmpty:visible:first').offset().top
                }, 600);
            }
        });

        function speakText(textId) {
            const textArea = $('#' + textId);
            const text = textArea.text();
            if ('speechSynthesis' in window) {
                const speech = new SpeechSynthesisUtterance();
                speech.text = text;
                speechSynthesis.speak(speech);
            } else {
                alert('Sorry, your browser doesn\'t support speech synthesis.');
            }
        }

       // const videoElement = document.getElementById('videoElement');
        let mediaRecorder;
        let globalStream = [];

        const videoConstraints = {
            video: {
                width: 320,
                height: 240,
                frameRate: 100,
                facingMode: getCameraFacingMode(),
            },
            audio: false
        };

        function getCameraFacingMode() {
            if (isMobileOrTablet()) {
                return {
                    ideal: 'environment',
                    exact: 'environment'
                };
            } else {
                return 'user'; // Use the front camera for non-mobile devices
            }
        }

        function isMobileOrTablet() {
            return /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent);
        }

        const VideotimerSec = @Model.VideotimerSec;

        function startRecording(_count) {

            const videoElement = document.getElementById('videoElement_' + _count);
            // Show the overlay element
            const overlay = document.createElement('div');
            overlay.id = 'overlay';
            document.body.appendChild(overlay);
            event.preventDefault();
            event.stopPropagation();
            $('#videoElement_' + _count).addClass('MainVideoBox');
            $('body').addClass('VideoOverlay');
            $('.uploadwrap').css('z-index', '-1');
            // $('.videouploadbox').css('z-index', '999999');
            $('#videouploadbox_' + _count).addClass('VideoRecState');
            $('#videoElement_' + _count + '.VideoBox').show();
            // $('.videouploadbox .ApplianceIconWrapper').hide();
            $('#videouploadbox_' + _count + ' .ApplianceIconWrapper').hide();
            VideoTimer(_count);

            navigator.mediaDevices.getUserMedia(videoConstraints)
                .then((stream) => {
                    globalStream = stream;
                    videoElement.srcObject = globalStream;
                    videoElement.play();

                    const chunks = [];

                    mediaRecorder = new MediaRecorder(globalStream);
                    mediaRecorder.addEventListener('dataavailable', (event) => {
                        if (event.data.size > 0) {
                            chunks.push(event.data);
                        }
                    });
                    mediaRecorder.addEventListener('stop', () => {
                        const videoBlob = new Blob(chunks, { type: 'video/webm' });
                        videoElement.srcObject = null;
                        videoElement.src = URL.createObjectURL(videoBlob);
                        videoElement.controls = true;
                        saveVideoOnBackend(videoBlob, _count);
                    });
                    mediaRecorder.start();
                })
                .catch((error) => {
                    console.log('Error accessing media devices:', error);
                });
        }

        function stopRecording(_count) {
            if (mediaRecorder && mediaRecorder.state !== 'inactive') {
                mediaRecorder.stop();
                mediaRecorder = null;
                globalStream.getTracks().forEach(track => track.stop());
            }
            $('#btnSubmit').show();
            $('#ResetButton_' + _count).show();
            $('#startButton_' + _count).hide();
            const overlay = document.getElementById('overlay');
            if (overlay) {
                overlay.parentNode.removeChild(overlay);
            }
            $('#videoElement_' + _count).removeClass('MainVideoBox');
            $('body').removeClass('VideoOverlay');
            $('.uploadwrap').css('z-index', '1');
            $('#videouploadbox_' + _count).removeClass('VideoRecState');
        }

        // const startButton = document.getElementById('startButton_');  vk

        // $('#startButton').click(function () {
        //     $('.videouploadbox .ApplianceIconWrapper').hide();
        //     startButton.disabled = true;
        //     startRecording();
        //     setTimeout(() => {
        //         stopRecording();
        //         startButton.disabled = false;
        //     }, (VideotimerSec * 1000));
        //     //}, 62000);
        // });

        function startButton(_count) {
            $("#uploadtop_" + _count + ' img').hide();
            $("#lblFileErr_" + _count).text("");
            $("#uploadtop_" + _count).css("border", "none");
            $("#uploadbottom_" + _count).css("border", "none");
            const startButton = document.getElementById('startButton_' + _count);
            //$('.videouploadbox .ApplianceIconWrapper').hide();
            $('#videouploadbox_' + _count + ' .ApplianceIconWrapper').hide();
            startButton.disabled = true;
            startRecording(_count);
            setTimeout(() => {
                stopRecording(_count);
                startButton.disabled = false;
            }, (VideotimerSec * 1000));
            //}, 62000);
        }

        function resetVideo(_count) {
            RefreshBtn(_count);
            const videoElement = document.getElementById('videoElement_' + _count);
            videoElement.pause();
            videoElement.currentTime = 0;
            videoElement.srcObject = null;
            videoElement.removeAttribute('src');
            videoElement.load();
            videoElement.controls = false;
            videoElement.muted = true;
            // $('.VideoBox').hide();
            // $('.videouploadbox .ApplianceIconWrapper').show();
            $('#videoElement_' + _count).hide();
            $('#videouploadbox_' + _count + ' .ApplianceIconWrapper').show();
            $('#startButton_' + _count).text('Start Recording');
            $('#startButton_' + _count).show();
            $('#ResetButton_' + _count).hide();
            $('#hdnBase64StringValue_' + _count).val("");
            DeleteFile(_count);
        }

        function saveVideoOnBackend(videoBlob, srNum) {
            var videoFile = new File([videoBlob], 'video.webm', { type: 'video/webm' });
            $('#loader').show();
            var regdNo = $("#hdnRegdno").val();
            var file = videoFile;
            var isMediaTypeVideo = $("#hdnIsMediaTypeVideo_" + srNum).val();
            var imageLabelId = $("#hdnImageLabelId_" + srNum).val();
            var orderTransId = $("#hdnOrderTransId").val();
            var statusId = $("#hdnStatusId").val();

            var formData = new FormData();
            formData.append('regdNo', regdNo);
            formData.append('file', file);
            formData.append('isMediaTypeVideo', isMediaTypeVideo);
            formData.append('srNum', srNum);
            formData.append('imageLabelId', imageLabelId);
            formData.append('orderTransId', orderTransId);
            formData.append('statusId', statusId);

            $.ajax({
                type: 'POST',
                beforeSend: function (xhr) {
                    xhr.setRequestHeader("XSRF-TOKEN",
                        $('input:hidden[name="__RequestVerificationToken"]').val());
                },
                url: '@URLPrefixforProd/api/ExchangeOrders/CompressVideo',
                data: formData,
                cache: false,
                contentType: false,
                processData: false,
                success: function (response) {
                    if (response != null) {
                        $('#videoPlaceHolder_' + srNum).hide();
                        $('#hdnBase64StringValue_' + srNum).val(response);
                        $('#loader').hide();
                    } else {
                        alert("Null Video Blob");
                    }
                },
            });
        }

        // function saveVideoOnBackend(videoBlob, srNum) {
        //     var reader = new window.FileReader();
        //     reader.readAsDataURL(videoBlob);

        //     reader.onloadend = function () {
        //         var base64 = reader.result.split(',')[1];
        //         // $('#hdnselfqcvideo').val(base64);
        //         //$('#hdnvideobase64').val(base64);
        //         $('#loader').show();
        //         var regdNo = $("#hdnRegdno").val();
        //         var base64String = base64;
        //         var isMediaTypeVideo = $("#hdnIsMediaTypeVideo_" + srNum).val();
        //         var imageLabelId = $("#hdnImageLabelId_" + srNum).val();

        //         var formData = new FormData();
        //         formData.append('regdNo', regdNo);
        //         formData.append('base64String', base64String);
        //         formData.append('isMediaTypeVideo', isMediaTypeVideo);
        //         formData.append('srNum', srNum);
        //         formData.append('imageLabelId', imageLabelId);

        //         $.ajax({
        //             type: 'POST',
        //             beforeSend: function (xhr) {
        //                 xhr.setRequestHeader("XSRF-TOKEN",
        //                     $('input:hidden[name="__RequestVerificationToken"]').val());
        //             },
        //             url: '@URLPrefixforProd/QCPortal/SelfQC?handler=CompressVideo',
        //             data: formData,
        //             cache: false,
        //             contentType: false,
        //             processData: false,
        //             success: function (response) {
        //                 if (response != null) {
        //                     // $('#hdnselfqcvideo').val(response);
        //                     $('#videoPlaceHolder_' + srNum).hide();
        //                     $('#hdnBase64StringValue_' + srNum).val(response);
        //                     $('#loader').hide();
        //                 } else {
        //                     alert("Null Video Blob");
        //                 }
        //             },
        //         });
        //     }
        // }

        function VideoTimer(_count) {
            var seconds = VideotimerSec;
            //var seconds = 60;
            var countdown = setInterval(function () {

                seconds--;
                if (seconds >= 0) {
                    $('#startButton_' + _count).text('Recording... ' + seconds + ' SEC remaining');
                } else {
                    clearInterval(countdown);
                }
            }, 1000);
        }

        function SaveFile(srNum) {

            var regdNo = $("#hdnRegdno").val();
            var orderTransId = $("#hdnOrderTransId").val();
            var statusId = $("#hdnStatusId").val();
            var base64String = $("#hdnBase64StringValue_" + srNum).val();
            var isMediaTypeVideo = $("#hdnIsMediaTypeVideo_" + srNum).val();
            var imageLabelId = $("#hdnImageLabelId_" + srNum).val();

            var formData = new FormData();
            formData.append('regdNo', regdNo);
            formData.append('base64String', base64String);
            formData.append('isMediaTypeVideo', isMediaTypeVideo);
            formData.append('srNum', srNum);
            formData.append('orderTransId', orderTransId);
            formData.append('statusId', statusId);
            formData.append('imageLabelId', imageLabelId);

            $.ajax({
                type: 'POST',
                beforeSend: function (xhr) {
                    xhr.setRequestHeader("XSRF-TOKEN",
                        $('input:hidden[name="__RequestVerificationToken"]').val());
                },
                url: "@URLPrefixforProd/QCPortal/SelfQC?handler=SaveMediaFile",
                data: formData,
                cache: false,
                contentType: false,
                processData: false,
                success: function (response) {
                    if(response == true){
                        $("#hdnBase64StringValue_" + srNum).val("File Saved Already");
                    }
                    console.log("File Save or Not: " + response);
                }
            });
        }

        function DeleteFile(srNum) {

            var regdNo = $("#hdnRegdno").val();
            var isMediaTypeVideo = $("#hdnIsMediaTypeVideo_" + srNum).val();

            var formData = new FormData();
            formData.append('regdNo', regdNo);
            formData.append('isMediaTypeVideo', isMediaTypeVideo);
            formData.append('srNum', srNum);

            $.ajax({
                type: 'POST',
                beforeSend: function (xhr) {
                    xhr.setRequestHeader("XSRF-TOKEN",
                        $('input:hidden[name="__RequestVerificationToken"]').val());
                },
                url: "@URLPrefixforProd/QCPortal/SelfQC?handler=DeleteMediaFile",
                data: formData,
                cache: false,
                contentType: false,
                processData: false,
                success: function (response) {
                    console.log("File Deleted: " + response);
                }
            });
        }

        function RefreshBtn(_count) {
            //videouploadbox_   uploadtop_

            var videoSection = '#videoPlaceHolderDiv_' + _count;
            $(videoSection).load(window.location.href + ' ' + videoSection);
        }

    </script>
    <script type="text/javascript">
        // window.addEventListener('beforeunload', function (e) {
        //     e.preventDefault();
        //     // console.log()
        //     // e.returnValue = '';
        //     console.log(e);
        //     console.log(e.preventDefault());
        //     // if (event) {
        //     //     if (checkCloseX == 1) {
        //     //         alert('if Condition executed');
        //     //     }
        //     //     else {
        //     //         alert('else Condition executed');
        //     //     }
        //     // }
        // });



        // window.onbeforeunload = function (event) {
        //     if (event) {
        //         if (checkCloseX == 1) {
        //             alert('if Condition executed');
        //             //alert('1111');
        //             // $.ajax({
        //             //     type: "GET",
        //             //     url: "Account/SetAuditHeaderTimeOut",
        //             //     dataType: "json",
        //             //     success: function (result) {
        //             //         if (result != null) {
        //             //         }
        //             //     }
        //             // });
        //         }
        //         else{
        //             alert('else Condition executed');
        //         }
        //     }
        // };
    </script>
</body>
</html>