@page
@model RDCELERP.Core.App.Pages.EVC_Allocation.Not_AllocatedModel
@{
    ViewData["Title"] = "Not Assign Order List";
    Layout = "_Layout";
    RDCELERP.Model.Base.AccessRuleViewModel accessRule = (RDCELERP.Model.Base.AccessRuleViewModel)ViewBag.AccessRule;
    var URLPrefixforProd = ViewData["URLPrefixforProd"];

}

@if (ViewData["UserAuth"] != null)
{
    <script type="text/javascript">
        alert("@ViewData["UserAuth"]");

        $(function () {
            $('.checkboxinput').click(function () {
                var flag = false;
                $('.checkboxinput').each(function () {
                    if (this.checked) {
                        flag = true;
                    }
                });
                if (flag) {
                    $('#exportbtn').prop('disabled', false);
                }
                else {
                    $('#exportbtn').prop('disabled', true);
                }
            });
        });
    </script>
}
@if (accessRule != null && accessRule.CanView)
{
    <div class="row">
        <input type="hidden" asp-for="ListNA" id="hdnListNA" />
        <div class="col-md-12">
            <div class="row">
                <div class="col-12 mb-4">
                    <div class="card border-0 shadow">
                        <div class="card-header">
                            <div class="row align-items-center">
                                <div class="col">
                                    <h2 class="fs-5 fw-bold mb-0">Not Assign Order List</h2>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="col-md-4 mb-2">
                                <form method="post" id="exportForm">
                                    <input type="hidden" asp-for="MyIds" id="hdnExchangeorderIds" />
                                    <button id="exportbtn" type="submit" asp-page-handler="Export" class="btn btn-primary mb-4" disabled="disabled"><i class="fa-solid fa-plus"></i>&nbsp; Assign EVC</button>
                                </form>
                            </div>
                            <div class="table-responsive">
                                <input type="hidden" id="hdnUserId" />
                                <table id="EVC_ApprovedDatatable" class="table table-striped dt-responsive mainshadow" width="100%" border="1">
                                    <thead class="thead-light">
                                        <tr>
                                            <th class="all">Sponsor Order Number</th>
                                            <th class="all notexport">
                                                <input type='checkbox' id='select_all' />
                                            </th>
                                           @*  <th class="all notexport">Action</th> *@
                                            <th class="all">Regd No</th>
                                            <th class="all">Order Type</th>
                                            <th class="all">Status</th>
                                            <th class="all">Customer Name</th>
                                            <th class="all">Customer State</th>
                                            <th class="all">Customer City</th>
                                            <th class="all">Pincode</th>
                                            <th class="all">Prod Category</th>
                                            <th class="all">Old Prod Type</th>
                                            <th class="all">Sponsor Name</th>
                                            <th class="all">Final QC Price</th>
                                            <th class="all">QC Date </th>
                                            <th class="all notexport">Prime Product</th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                            @*List Page Common Filters Code VK 19-May*@
                            <div class="filters">
                                <div class="p-4">
                                    <h4 class="">Filters</h4>
                                    @* Order Date Range Filter *@
                                    <p class="filterheading">
                                        <input type="checkbox" name="" id="chkOrderDateRange">
                                        <label for="chkOrderDateRange">Order Date Range</label>
                                    </p>
                                    <div class="filterbox">
                                        <input type="text" class="form-control d-inline mb-2" id="orderStartDate" readonly placeholder="Start Date" autocomplete="off">
                                        <input type="text" class="form-control d-inline mb-2" id="orderEndDate" readonly placeholder="End Date" autocomplete="off">
                                    </div>
                                    <div class="filter-seprator"></div>



                                    @* Company Filter *@
                                    <p class="filterheading">
                                        <input type="checkbox" name="" id="chkcompanyName">
                                        <label for="chkcompanyName">Company Name</label>
                                    </p>
                                    <div class="filterbox">
                                        <input type="text" class="form-control d-inline" id="companyName" placeholder="Search Company Name">
                                    </div>
                                    <div class="filter-seprator"></div>

                                    @* Product Group Filter *@
                                    <p class="filterheading">
                                        <input type="checkbox" name="" id="chkProductCategory">
                                        <label for="chkProductCategory">Product Group</label>
                                    </p>
                                    <div class="filterbox">
                                        <select asp-for="searchFilterVM.ProductCatId" id="ddlprodcatid" class="form-control d-inline" asp-items="ViewBag.ProductGroup">
                                            <option value='0'>--Product Cat--</option>
                                        </select>
                                        <span asp-validation-for="searchFilterVM.ProductCatId" class="text-danger"></span>
                                    </div>
                                    <div class="filter-seprator"></div>

                                    <p class="filterheading">
                                        <input type="checkbox" name="" id="chkProductType">
                                        <label for="chkProductType">Product Type</label>
                                    </p>
                                    <div class="filterbox">
                                        <select asp-for="searchFilterVM.ProductTypeId" id="ddlprodcattypeid" class="form-control d-inline" asp-items="ViewBag.productTypeList">
                                            <option value='0'>--Product Type--</option>
                                        </select>
                                        <span asp-validation-for="searchFilterVM.ProductTypeId" class="text-danger"></span>
                                    </div>
                                    <div class="filter-seprator"></div>

                                    @* Regd No Filter *@
                                    <p class="filterheading">
                                        <input type="checkbox" name="" id="chkregdNo">
                                        <label for="chkregdNo">Regd No</label>
                                    </p>
                                    <div class="filterbox">
                                        @*<input type="text" class="form-control d-inline" id="regdNo" placeholder="Search RegdNo">*@
                                        <input type="text" class="form-control d-inline" id="regdNo" placeholder="Search RegdNo">
                                    </div>
                                    <div class="filter-seprator"></div>

                                    @* Phone Number Filter *@
                                    <p class="filterheading">
                                        <input type="checkbox" name="" id="chkPhoneNo">
                                        <label for="chkPhoneNo">Phone Number</label>
                                    </p>
                                    <div class="filterbox">
                                        <input type="text" class="form-control d-inline" id="phoneNo" placeholder="Search Phone Number">
                                    </div>
                                    <div class="filter-seprator"></div>

                                    @* Cust City Filter *@
                                    <p class="filterheading"><input type="checkbox" name="" id="chkCustCity"><label for="chkCustCity">Customer City</label></p>
                                    <div class="filterbox">
                                        <input type="text" class="form-control d-inline" id="custCity" placeholder="Search City">
                                    </div>
                                    <div class="filter-seprator"></div>
                                    @*Created By Me Filter *@
                                    <p class="filterheading"><input type="checkbox" name="" id="chkCreatedByMe" value="1"><label>Created by Me</label></p>

                                    @* Submit Filter *@
                                    <div class="filterbtnwrap">
                                        <a id="btnFilter" class="btn btn-primary">Filter</a>
                                        <a id="btnCloseFilter" class="btn btn-sm btn-secondary py-2">Cancel</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<script src="~/NewLayout/assets/js/jquery.dataTables.min.js"></script>
<script src="~/NewLayout/vendor/jquery-ui/jquery-ui.js"></script>
<script src="~/NewLayout/assets/js/exportTable.js"></script>
<script type="text/javascript">
    $(window).on('pageshow', function () {
        $('.filters input[type="checkbox"]').prop('checked', false);
        $('.filterbox').hide();
    });
    //variable declaration
    var table = null;

    //Document (Page Load) ready Function Call
    $(document).ready(function () {
        var list = $('#hdnListNA').val();
        if (list == "Success" && list != ' ' && list != null) {
            Swal.fire({
                title: '@Model.title',
                text: '@Model.text',
                icon: 'success',
                confirmButtonText: 'Ok',
                customClass: {
                    confirmButton: 'btn btn-dark'
                }

            });
            $('#hdnListNA').val("");
        } else if (list != null && list != '') {
            Swal.fire({
                title: '@Model.title',
                text: '@Model.text',
                icon: 'warning',
                confirmButtonText: 'Ok',
                customClass: {
                    confirmButton: 'btn btn-dark'
                }
            });
            $('#hdnListNA').val("");
        }

        //Date Picker
        $("#orderStartDate").datepicker({
            defaultDate: null,
            onSelect: function (selectedDate) {
                $("#orderEndDate").datepicker("option", "minDate", selectedDate);
            }
        });
        $("#orderEndDate").datepicker({
            defaultDate: null,
        });


        //Hide Filters Dive
        $('.filters').hide();
        //Table Count 1 Start
        var url = "@URLPrefixforProd/api/EVCList/GetNotAllocatedOrderList?companyId=" + @ViewBag.CompanyId;
        DataTable(url);
        //End Table Count 1

        $(window).bind("pageshow", function (event) {
            $('#hdnListNA').val(" ");
        });
    });

    //Filter Close Button Click Event
    $('#btnCloseFilter').click(function () {
        $('#orderStartDate').val("");
        $('#orderEndDate').val("");
        $('#ddlprodcatid').val(0);
        $('#ddlprodcattypeid').empty();
        $('#ddlprodcattypeid').append("<option value='0'>--Product Type--</option>");
        $('#regdNo').val("");
        $('#phoneNo').val("");
        $('#companyName').val("");
        $('#custCity').val("");

        // Unchecks it
        $('.filters input[type="checkbox"]').prop('checked', false);
        $('.filterbox').hide();
        CommonFilter();
    });

    //Check Box Date Range change Event
    $("#chkOrderDateRange").click(function () {
        if (!this.checked) {
            $('#orderStartDate').val("");
            $('#orderEndDate').val("");
        }
    });
    //Check Box Date Range change Event
    $("#chkRescheduleDateRange").click(function () {
        if (!this.checked) {
            $('#resheduleStartDate').val("");
            $('#resheduleEndDate').val("");
        }
    });

    //Check Box Product Category change Event
    $("#chkProductCategory").click(function () {
        if (!this.checked) {
            $('#ddlprodcatid').val(0);
        }
    });

    //On Change Event for Get Product type by Product Category
    $("#ddlprodcatid").change(function () {
        $.get("@URLPrefixforProd/api/Dropdown/OnGetProductCategoryTypeAsync?productCatId=" + $(this).val()).done(function (data) {

            $("#ddlprodcattypeid").empty();
            $("#ddlprodcattypeid").append($("<option></option>").val('0').html('Select ProductType'));
            $.each(data, function (i, producttype) {
                $("#ddlprodcattypeid").append($("<option></option>").val(producttype.text).html(producttype.value));
            });
        });
    });

    //Check Box Product Type change Event
    $("#chkProductType").click(function () {
        if (!this.checked) {
            $('#ddlprodcattypeid').val(0);
        }
    });

    //Check Box Regd Number change Event
    $("#chkregdNo").click(function () {
        if (!this.checked) {
            $('#regdNo').val("");
        }
    });

    //Check Box Phone Number change Event
    $("#chkPhoneNo").click(function () {
        if (!this.checked) {
            $('#phoneNo').val("");
        }
    });

    //Check Box Brand Name change Event
    $("#chkcompanyName").click(function () {
        if (!this.checked) {
            $('#companyName').val("");
        }
    });

    //Check Box Customer City change Event
    $("#chkCustCity").click(function () {
        if (!this.checked) {
            $('#custCity').val("");
        }
    });

    //Check Box Created By Me change Event
    $("#chkCreatedByMe").click(function () {
        if (!this.checked) {
            $('#hdnUserId').val("");
        }
    });

    // Follow-up list multi Search Filter
    $('#btnFilter').click(function () {
        CommonFilter();
    });

    function DataTable(url) {
        table = $('#EVC_ApprovedDatatable').DataTable({
            "order": [[0, 'desc']],
            "processing": true,
            "serverSide": true,
            "scrollX": true,
            "filter": true,
            "searching": false,
            "dom": 'Bfrtlp',
            "buttons": [
                {
                    text: '<button class="btn btn-primary" id="filterboxbtnright"><i class="fa-solid fa-filter"></i></button>',
                    action: function (e, dt, node, config) {
                        $('.filters').toggle();
                        //$('.content').toggleClass('maincontent');
                        //$('.filters').insertBefore('table.dataTable');
                    }
                },
                {
                    extend: 'excel', text: '<div class="exportbtnwrapper "><button class="btn btn-primary" id="exportbtn"><i class="fa-solid fa-download"></i> Download Excel</button></div>', id: "exportbtn",
                    title: 'Not Assign Order List',
                    action: newexportaction,
                    exportOptions: {
                        modifier: {
                            // DataTables core
                            order: 'index',  // 'current', 'applied', 'index',  'original'
                            page: 'all',      // 'all',     'current' for export all pages data
                            search: 'none'     // 'none',    'applied', 'removed'
                        },
                        columns: ':not(.notexport)'
                    }
                }
            ],
            "oLanguage": {
                "sEmptyTable": "No Record found"
            },
            "ajax": {
                "url": url,
                "type": "POST",
                "datatype": "json"
            },
            "columnDefs": [{
                "targets": [0],
                "visible": false,
                "searchable": false
            }],

            "responsive": true,

            "columns": [
                { "data": "sponsorOrderNumber", "name": "SponsorOrderNumber", "autoWidth": true, "orderable": false },
                { "data": "action", "name": "Action", "autoWidth": true, "orderable": false },
                { "data": "regdNo", "name": "RegdNo", "autoWidth": true, "orderable": false },
                { "data": "ordertype", "name": "ordertype", "autoWidth": true, "orderable": false },
                { "data": "status", "name": "status", "autoWidth": true, "orderable": false },
                { "data": "firstName", "name": "FirstName", "autoWidth": true, "orderable": false },
                { "data": "stateName", "name": "StateName", "autoWidth": true, "orderable": false },
                { "data": "custCity", "name": "CustCity", "autoWidth": true, "orderable": false },
                { "data": "custPin", "name": "CustPin", "autoWidth": true, "orderable": false },
                { "data": "prodcat", "name": "Prodcat", "autoWidth": true, "orderable": false },
                { "data": "oldProdType", "name": "OldProdType ", "autoWidth": true, "orderable": false },
                { "data": "sponsorName", "name": "SponsorName", "autoWidth": true, "orderable": false },
                { "data": "finalExchangePrice", "name": "FinalExchangePrice ", "autoWidth": true, "orderable": false },
                { "data": "date", "name": "Date ", "autoWidth": true, "orderable": false },
                { "data": "edit", "name": "Edit", "autoWidth": true, "orderable": false },
            ]
        });
    }

    function GetURLData(orderStartDate = null, orderEndDate = null, companyName = null, productCatId = null, productTypeId = null, regdNo = null, phoneNo = null, custCity = null, createdbyme = null) {
        var urlData = "";
        if (orderStartDate != null && orderEndDate != null) {
            urlData += '&orderStartDate=' + orderStartDate + '&orderEndDate=' + orderEndDate;
        }
        if (companyName != null) {
            urlData += '&companyName=' + companyName;
        }
        if (productCatId != null && productCatId > 0) {
            urlData += '&productCatId=' + productCatId;
        }
        if (productTypeId != null && productTypeId > 0) {
            urlData += '&productTypeId=' + productTypeId;
        }
        if (regdNo != null) {
            urlData += '&regdNo=' + regdNo;
        }
        if (phoneNo != null) {
            urlData += '&phoneNo=' + phoneNo;
        }
        if (custCity != null) {
            urlData += '&custCity=' + custCity;
        }
        if (createdbyme != null) {
            urlData += '&createdbyme=' + createdbyme;
        }
        return urlData;
    }

    //Filter Function
    function CommonFilter() {
        var companyName = $('#companyName').val();
        companyName = $('#companyName').val() == "" ? null : $('#companyName').val();

        var productCatId = $('#ddlprodcatid').val();
        productCatId = $('#ddlprodcatid').val() == "" ? 0 : $('#ddlprodcatid').val();
        var productTypeId = $('#ddlprodcattypeid').val();
        productTypeId = $('#ddlprodcattypeid').val() == "" ? 0 : $('#ddlprodcattypeid').val();

        var orderStartDate = $('#orderStartDate').val();
        orderStartDate = $('#orderStartDate').val() == "" ? null : $('#orderStartDate').val();
        var orderEndDate = $('#orderEndDate').val();
        orderEndDate = $('#orderEndDate').val() == "" ? null : $('#orderEndDate').val();
        var regdNo = $('#regdNo').val();
        regdNo = $('#regdNo').val() == "" ? null : $('#regdNo').val();

        var phoneNo = $('#phoneNo').val();
        phoneNo = $('#phoneNo').val() == "" ? null : $('#phoneNo').val();

        var custCity = $('#custCity').val();
        custCity = $('#custCity').val() == "" ? null : $('#custCity').val();
        debugger;
        ////Check Box Created By Me change Event
        var createdbyme1 = $("#chkCreatedByMe").val();
        if (createdbyme1.checked) {
            debugger;
            var createdbyme = @Model.UserId1;
        }

        var urlData = GetURLData(orderStartDate, orderEndDate, companyName, productCatId, productTypeId, regdNo, phoneNo, custCity, createdbyme);

        var url = null;
        url = "@URLPrefixforProd/api/EVCList/GetNotAllocatedOrderList?companyId=" + @ViewBag.CompanyId + urlData;


        // Destroy the existing DataTable
        table = $('#EVC_ApprovedDatatable').DataTable();
        // Destroy the existing DataTable
        table.clear().destroy();
        //Re-Initialize Datatable
        DataTable(url);

        $('.filters').hide();
    }
    //All Data Export--
    function newexportaction(e, dt, button, config) {
        var self = this;
        var oldStart = dt.settings()[0]._iDisplayStart;
        dt.one('preXhr', function (e, s, data) {
            // Just this once, load all data from the server...
            data.start = 0;
            data.length = 2147483647;
            dt.one('preDraw', function (e, settings) {
                // Call the original action function
                if (button[0].className.indexOf('buttons-copy') >= 0) {
                    $.fn.dataTable.ext.buttons.copyHtml5.action.call(self, e, dt, button, config);
                } else if (button[0].className.indexOf('buttons-excel') >= 0) {
                    $.fn.dataTable.ext.buttons.excelHtml5.available(dt, config) ?
                        $.fn.dataTable.ext.buttons.excelHtml5.action.call(self, e, dt, button, config) :
                        $.fn.dataTable.ext.buttons.excelFlash.action.call(self, e, dt, button, config);
                }
                dt.one('preXhr', function (e, s, data) {
                    // DataTables thinks the first item displayed is index 0, but we're not drawing that.
                    // Set the property to what it was before exporting.
                    settings._iDisplayStart = oldStart;
                    data.start = oldStart;
                });
                // Reload the grid with the original page. Otherwise, API functions like table.cell(this) don't work properly.
                setTimeout(dt.ajax.reload, 0);
                // Prevent rendering of the full data to the DOM
                return false;
            });
        });
        // Requery the server with the new one-time export settings
        dt.ajax.reload();
    };
</script>

@*AutoPopulate Regd No search filter*@
<script>
    $(function () {
        function split(val) {
            return val.split(/,\s*/);
        }
        function extractLast(term) {
            return split(term).pop();
        }

        $("#regdNo").on("keydown", function (event) {
            if (event.keyCode === $.ui.keyCode.TAB &&
                $(this).autocomplete("instance").menu.active) {
                event.preventDefault();
            }
        })
            .autocomplete({
                minLength: 3,
                source: function (request, response) {
                    $.get("@URLPrefixforProd/EVC_Allocation/Not_Allocated?handler=SearchRegdNo", {
                        term: extractLast(request.term)
                    }, response);
                },
                focus: function () {
                    // prevent value inserted on focus
                    return false;
                },
                open: function (event, ui) {
                    // Get the menu element
                    var menu = $(this).autocomplete("widget");

                    // Set max-height and overflow properties
                    menu.css("max-height", "200px");
                    menu.css("overflow-y", "auto");
                },
                select: function (event, ui) {
                    var terms = split(this.value);
                    console.log(terms);
                    // remove the current input
                    terms.pop();
                    // add the selected item
                    terms.push(ui.item.value);

                    this.value = ui.item.value;
                    return false;
                }
            });
    })

    function PrimeProduct(Id) {
        $('#loader').show();
        window.location.href = '@ViewData["URLPrefixforProd"]/EVC_Allocation/PrimeProductEVC_AllocateFrom?OId=' + Id;
    }

    $("#exportbtn").click(function (event) {
        $('#loader').show();
        var searchIDs = "";
        $("#hdnExchangeorderIds").val("");
        $('.checkboxinput').each(function () {
            if (this.checked) {
                searchIDs += this.value + ",";
            }
        });
        searchIDs = searchIDs.replace(/,\s*$/, "");
        $("#hdnExchangeorderIds").val(searchIDs);
        $("#exportForm").submit();
    });

    //var counter = 0;
    $('#select_all').on('click', function () {

        var counter = 0;
        $('.checkboxinput').each(function () {

            if (this.checked) {
                this.checked = false;
            }
        });
        var parentTable = $(this).parents().find('.dataTables_wrapper').attr('id');
        if (this.checked) {

            $('#' + parentTable + ' .checkboxinput').each(function () {
                if (counter < 11) {
                    this.checked = true;
                    counter++;
                }
            });
        } else {

            $('#' + parentTable + ' .checkboxinput').each(function () {

                this.checked = false;
                counter - 1;
            });
        }
        OnCheckBoxCheck();
    });
    //new
    function OnCheckBoxCheck() {
        counter = 0;

        $('.checkboxinput').each(function () {

            if (this.checked) {

                counter++;
            }
            else {

                counter - 1;
            }
            if (counter > 10) {
                alert("You can only select up to 10 Orders.");
                $(this).prop('checked', false);
                return false; // Prevent further action
            }
        });
        var flag = counter > 0;
        if (flag) {
            $('#exportbtn').prop('disabled', false);
        } else {
            $('#exportbtn').prop('disabled', true);
        }
    }
       

</script>




















