@page
@model RDCELERP.Core.App.Pages.ServicePartner.DetailsModel

@{
    ViewData["Title"] = "Details";
    Layout = "ServicePartner";
}

<h1>Details</h1>

<div>
    <h4>TblServicePartner</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TblServicePartner.ServicePartnerName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TblServicePartner.ServicePartnerName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TblServicePartner.ServicePartnerDescription)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TblServicePartner.ServicePartnerDescription)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TblServicePartner.IsActive)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TblServicePartner.IsActive)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TblServicePartner.CreatedBy)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TblServicePartner.CreatedBy)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TblServicePartner.CreatedDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TblServicePartner.CreatedDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TblServicePartner.Modifiedby)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TblServicePartner.Modifiedby)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TblServicePartner.ModifiedDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TblServicePartner.ModifiedDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TblServicePartner.IsServicePartnerLocal)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TblServicePartner.IsServicePartnerLocal)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TblServicePartner.User)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TblServicePartner.User.UserId)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.TblServicePartner.ServicePartnerId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
