@page
@model RDCELERP.Core.App.Pages.ABBRedemption.InstantVoucharModel
@{
    ViewBag.Title = "GetVoucherInstant";
    Layout = "";
}
<style id="applicationStylesheet" type="text/css">

    .mediaViewInfo {
        --web-view-name: Web 1920 – 1;
        --web-view-id: Web_1920__1;
        --web-scale-to-fit: true;
        --web-scale-to-fit-type: fit;
        --web-scale-on-resize: true;
        --web-enable-deep-linking: true;
    }

    :root {
        --web-view-ids: Web_1920__1;
    }



    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        border: none;
    }



    #Web_1920__1 {
        position: absolute;
        width: 1920px;
        height: 550px;
        background-color: rgba(255,255,255,1);
        overflow: hidden;
        --web-view-name: Web 1920 – 1;
        --web-view-id: Web_1920__1;
        --web-scale-to-fit: true;
        --web-scale-to-fit-type: fit;
        --web-scale-on-resize: true;
        --web-enable-deep-linking: true;
    }



    #voucher2 {
        position: absolute;
        width: 1745.458px;
        height: 465.407px;
        left: 87.271px;
        top: 45.593px;
        overflow: visible;
    }



    #Layer_1 {
        position: absolute;
        width: 1745.458px;
        height: 460.081px;
        left: 0px;
        top: 0px;
        overflow: visible;
    }



    #Group {
        position: absolute;
        width: 1745.458px;
        height: 460.081px;
        left: 0px;
        top: 0px;
        overflow: visible;
    }



    #Group_k {
        position: absolute;
        width: 1745.458px;
        height: 460.081px;
        left: 0px;
        top: 0px;
        overflow: visible;
    }



    #Group_k {
        position: absolute;
        width: 1745.458px;
        height: 460.081px;
        left: 0px;
        top: 0px;
        overflow: visible;
    }



    #Group_l {
        position: absolute;
        width: 1745.458px;
        height: 460.081px;
        left: 0px;
        top: 0px;
        overflow: visible;
    }



    #Path {
        fill: rgba(0,183,206,1);
    }



    .Path {
        overflow: visible;
        position: absolute;
        width: 1745.458px;
        height: 460.081px;
        left: 0px;
        top: 0px;
        transform: matrix(1,0,0,1,0,0);
    }



    #Group_n {
        position: absolute;
        width: 725.094px;
        height: 460.081px;
        left: 0px;
        top: 0px;
        overflow: visible;
    }



    #Group_o {
        position: absolute;
        width: 725.094px;
        height: 460.081px;
        left: 0px;
        top: 0px;
        overflow: visible;
    }



    #Path_p {
        fill: rgba(0,119,166,1);
    }



    .Path_p {
        overflow: visible;
        position: absolute;
        width: 725.094px;
        height: 460.081px;
        left: 0px;
        top: 0px;
        transform: matrix(1,0,0,1,0,0);
    }



    #bdr {
        overflow: visible;
        position: absolute;
        width: 1618.07vw;
        height: 375.61vh;
        left: 61.824px;
        top: 35px;
        /* transform: matrix(1,0,0,1,0,0); */
    }



    #bdr {
        overflow: visible;
        position: absolute;
        width: 1640px;
        height: 400px;
        left: 52px;
        top: 35px;
        transform: matrix(1,0,0,1,0,0);
    }



    #rc2 {
        position: absolute;
        overflow: visible;
        width: 568.41px;
        height: 110.41px;
        left: 932px;
        top: 165px;
    }





    #Bosch_logo {
        position: absolute;
        width: 246px;
        height: 58px;
        left: 78px;
        top: 57.407px;
        overflow: visible;
    }



    #Digi2L_Logo_Final {
        position: absolute;
        width: 200px;
        height: 200px;
        left: 1470px;
        top: 245px;
        overflow: visible;
    }



    #Voucher_Code {
        left: 990.059px;
        top: 62.39px;
        position: absolute;
        overflow: visible;
        width: 457px;
        white-space: nowrap;
        line-height: 90px;
        margin-top: -7.5px;
        text-align: center;
        font-family: Lato-Light;
        font-style: normal;
        font-weight: normal;
        font-size: 75px;
        color: rgba(255,255,255,1);
    }



    #n_AMOUNT {
        left: 117.909px;
        top: 222.407px;
        position: absolute;
        overflow: visible;
        width: 491px;
        white-space: nowrap;
        line-height: 113px;
        margin-top: -16.5px;
        text-align: center;
        font-family: AlfaSlabOne-Regular;
        font-style: normal;
        font-weight: normal;
        font-size: 80px;
        color: rgba(255,255,255,1);
    }



    #n_validdate {
        left: 130px;
        top: 290px;
        position: absolute;
        overflow: visible;
        width: 491px;
        white-space: nowrap;
        line-height: 113px;
        margin-top: -16.5px;
        text-align: center;
        font-family: AlfaSlabOne-Regular;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        color: rgba(255,255,255,1);
    }



    #Powered_by_UTC_Digital_Pvt_Ltd {
        left: 75.921px;
        top: 373.155px;
        position: absolute;
        overflow: visible;
        width: 574.975px;
        height: 42.50377655029297px;
        line-height: 30.000001907348633px;
        margin-top: -2.5000009536743164px;
        text-align: center;
        font-family: OpenSans;
        font-style: normal;
        font-weight: normal;
        font-size: 25px;
        color: rgba(255,255,255,1);
    }



    #Tc {
        left: 1011.288px;
        top: 293.563px;
        position: absolute;
        overflow: visible;
        width: 421.612px;
        height: 101.9050521850586px;
        line-height: 18px;
        margin-top: -1.6666669845581055px;
        text-align: center;
        font-family: OpenSans;
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        color: rgba(255,255,255,1);
    }





    #EXCH29 {
        left: 1080.496px;
        top: 187.588px;
        position: absolute;
        overflow: visible;
        width: 255px;
        white-space: nowrap;
        line-height: 70px;
        margin-top: -6px;
        text-align: center;
        font-family: AlfaSlabOne-Regular;
        font-style: normal;
        font-weight: normal;
        font-size: 58px;
        color: rgba(33,33,33,1);
    }



    #wwwdigi2lin {
        left: 1480px;
        top: 390px;
        position: absolute;
        overflow: visible;
        width: 193px;
        white-space: nowrap;
        line-height: 32px;
        margin-top: -2.5px;
        text-align: center;
        font-family: OpenSans-Extrabold;
        font-style: normal;
        font-weight: normal;
        font-size: 27px;
        color: rgba(255,255,255,1);
    }



    #Voucher_Worth_Rs {
        left: 87.61px;
        top: 174.903px;
        position: absolute;
        overflow: hidden;
        width: 574.975px;
        height: 42.50377655029297px;
        text-align: center;
        font-family: OpenSans;
        font-style: normal;
        font-weight: normal;
        font-size: 40px;
        color: rgba(255,255,255,1);
    }



    #btnDownloadImage {
        position: absolute;
        bottom: 450px;
        width: 50%;
        left: 300px;
        border: 3px solid #8AC007;
    }
</style>



<div id="Web_1920__1">

    <div id="previewImg">

        <div id="voucher2">

            <div id="Layer_1">

                <div id="Group">

                    <div id="Group_k">

                        <div id="Group_k">

                            <div id="Group_l">

                                <svg class="Path" viewBox="0.002 0.007 1745.458 460.081">

                                    <path id="Path" d="M 1742.227294921875 58.19295883178711 C 1743.42724609375 58.25711441040039 1744.512084960938 58.73117828369141 1745.373168945312 59.46192932128906 C 1745.409545898438 59.49214553833008 1745.46044921875 59.46884536743164 1745.46044921875 59.42207717895508 C 1745.46044921875 59.42207717895508 1745.46044921875 44.86914443969727 1745.46044921875 44.86914443969727 C 1745.149047851562 44.8755989074707 1744.83935546875 44.89290618896484 1744.526245117188 44.89290618896484 C 1720.271240234375 44.89290618896484 1700.609741210938 25.21535110473633 1700.609741210938 0.9416633248329163 C 1700.609741210938 0.6282545924186707 1700.626220703125 0.3187180161476135 1700.633178710938 0.006599999964237213 C 1700.633178710938 0.006599999964237213 44.82960891723633 0.006599999964237213 44.82960891723633 0.006599999964237213 C 44.83659744262695 0.3187180161476135 44.85337448120117 0.6282545924186707 44.85337448120117 0.9416633248329163 C 44.85337448120117 25.21535110473633 25.19145965576172 44.89290618896484 0.9366801381111145 44.89290618896484 C 0.6234991550445557 44.89290618896484 0.3141902387142181 44.8755989074707 0.002300000051036477 44.86914443969727 C 0.002300000051036477 44.86914443969727 0.002300000051036477 59.85195159912109 0.002300000051036477 59.85195159912109 C 0.002300000051036477 59.90182876586914 0.0590142197906971 59.92338943481445 0.09317941218614578 59.8870964050293 C 1.388723373413086 58.49945831298828 3.39163875579834 57.7848014831543 5.55239725112915 58.41898345947266 C 7.842679977416992 59.09089660644531 9.290145874023438 61.36592102050781 9.290145874023438 63.75444793701172 C 9.290145874023438 63.75444793701172 9.290145874023438 83.58960723876953 9.290145874023438 83.58960723876953 C 9.290145874023438 85.97806549072266 7.842679977416992 88.25308227539062 5.55239725112915 88.92500305175781 C 3.39163875579834 89.55933380126953 1.388723373413086 88.84444427490234 0.09317941218614578 87.45696258544922 C 0.0590142197906971 87.42059326171875 0.002300000051036477 87.44223022460938 0.002300000051036477 87.49203491210938 C 0.002300000051036477 87.49203491210938 0.002300000051036477 121.799201965332 0.002300000051036477 121.799201965332 C 0.002300000051036477 121.8493881225586 0.0590142197906971 121.8707275390625 0.09317941218614578 121.8342819213867 C 1.388723373413086 120.4467239379883 3.39163875579834 119.732063293457 5.55239725112915 120.3662414550781 C 7.842679977416992 121.0381546020508 9.290145874023438 123.3131790161133 9.290145874023438 125.7017059326172 C 9.290145874023438 125.7017059326172 9.290145874023438 145.5372619628906 9.290145874023438 145.5372619628906 C 9.290145874023438 147.9253234863281 7.842679977416992 150.2003479003906 5.55239725112915 150.8722686767578 C 3.39163875579834 151.5066070556641 1.388723373413086 150.7917938232422 0.09317941218614578 149.4043121337891 C 0.0590142197906971 149.3679351806641 0.002300000051036477 149.3895721435547 0.002300000051036477 149.4393005371094 C 0.002300000051036477 149.4393005371094 0.002300000051036477 183.7465515136719 0.002300000051036477 183.7465515136719 C 0.002300000051036477 183.7962646484375 0.0590142197906971 183.8179931640625 0.09317941218614578 183.7815399169922 C 1.388723373413086 182.3940582275391 3.39163875579834 181.6792449951172 5.55239725112915 182.3134918212891 C 7.842679977416992 182.9854278564453 9.290145874023438 185.2604370117188 9.290145874023438 187.6489868164062 C 9.290145874023438 187.6489868164062 9.290145874023438 207.4845275878906 9.290145874023438 207.4845275878906 C 9.290145874023438 209.8725891113281 7.842679977416992 212.147705078125 5.55239725112915 212.8195343017578 C 3.39163875579834 213.4538726806641 1.388723373413086 212.7390594482422 0.09317941218614578 211.3514862060547 C 0.0590142197906971 211.3151092529297 0.002300000051036477 211.3368225097656 0.002300000051036477 211.3865661621094 C 0.002300000051036477 211.3865661621094 0.002300000051036477 245.6915283203125 0.002300000051036477 245.6915283203125 C 0.002300000051036477 245.7418670654297 0.0590142197906971 245.7635040283203 0.09317941218614578 245.7271270751953 C 1.388723373413086 244.3399505615234 3.39163875579834 243.6248474121094 5.55239725112915 244.2585601806641 C 7.842679977416992 244.9304809570312 9.290145874023438 247.2059478759766 9.290145874023438 249.5940399169922 C 9.290145874023438 249.5940399169922 9.290145874023438 269.4317626953125 9.290145874023438 269.4317626953125 C 9.290145874023438 271.8198547363281 7.842679977416992 274.0954284667969 5.55239725112915 274.7672729492188 C 3.39163875579834 275.4010620117188 1.388723373413086 274.6858520507812 0.09317941218614578 273.298828125 C 0.0590142197906971 273.2623901367188 0.002300000051036477 273.2839965820312 0.002300000051036477 273.3342895507812 C 0.002300000051036477 273.3342895507812 0.002300000051036477 307.6388549804688 0.002300000051036477 307.6388549804688 C 0.002300000051036477 307.6891174316406 0.0590142197906971 307.7107849121094 0.09317941218614578 307.6743774414062 C 1.388723373413086 306.2872314453125 3.39163875579834 305.5720825195312 5.55239725112915 306.205810546875 C 7.842679977416992 306.8777465820312 9.290145874023438 309.1532287597656 9.290145874023438 311.5413818359375 C 9.290145874023438 311.5413818359375 9.290145874023438 331.3790283203125 9.290145874023438 331.3790283203125 C 9.290145874023438 333.7671203613281 7.842679977416992 336.0426940917969 5.55239725112915 336.7145080566406 C 3.39163875579834 337.3482971191406 1.388723373413086 336.6331176757812 0.09317941218614578 335.2460021972656 C 0.0590142197906971 335.2096557617188 0.002300000051036477 335.2312927246094 0.002300000051036477 335.2815551757812 C 0.002300000051036477 335.2815551757812 0.002300000051036477 369.5861206054688 0.002300000051036477 369.5861206054688 C 0.002300000051036477 369.6363220214844 0.0590142197906971 369.6580505371094 0.09317941218614578 369.62158203125 C 1.388723373413086 368.2345886230469 3.39163875579834 367.5193481445312 5.55239725112915 368.1531677246094 C 7.842679977416992 368.8250122070312 9.290145874023438 371.1004943847656 9.290145874023438 373.4885559082031 C 9.290145874023438 373.4885559082031 9.290145874023438 393.3245544433594 9.290145874023438 393.3245544433594 C 9.290145874023438 395.7126159667969 7.842679977416992 397.9873046875 5.55239725112915 398.6591186523438 C 3.39163875579834 399.2939147949219 1.388723373413086 398.5786437988281 0.09317941218614578 397.1915893554688 C 0.0590142197906971 397.1552734375 0.002300000051036477 397.1768493652344 0.002300000051036477 397.2261657714844 C 0.002300000051036477 397.2261657714844 0.002300000051036477 415.2257080078125 0.002300000051036477 415.2257080078125 C 0.3141902387142181 415.2188110351562 0.6234991550445557 415.2015380859375 0.9366801381111145 415.2015380859375 C 25.19145965576172 415.2015380859375 44.85337448120117 434.8790893554688 44.85337448120117 459.1527099609375 C 44.85337448120117 459.4660949707031 44.83659744262695 459.7751770019531 44.82960891723633 460.0878295898438 C 44.82960891723633 460.0878295898438 1700.633178710938 460.0878295898438 1700.633178710938 460.0878295898438 C 1700.626220703125 459.7751770019531 1700.609741210938 459.4660949707031 1700.609741210938 459.1527099609375 C 1700.609741210938 434.8790893554688 1720.271240234375 415.2015380859375 1744.526245117188 415.2015380859375 C 1744.83935546875 415.2015380859375 1745.149047851562 415.2188110351562 1745.46044921875 415.2257080078125 C 1745.46044921875 415.2257080078125 1745.46044921875 397.6565551757812 1745.46044921875 397.6565551757812 C 1745.46044921875 397.6098022460938 1745.409545898438 397.58642578125 1745.373168945312 397.61669921875 C 1744.512084960938 398.3475341796875 1743.42724609375 398.8211059570312 1742.227294921875 398.8851013183594 C 1739.148803710938 399.0497436523438 1736.623291015625 396.2564697265625 1736.623291015625 393.1705017089844 C 1736.623291015625 393.1705017089844 1736.623291015625 373.6417541503906 1736.623291015625 373.6417541503906 C 1736.623291015625 370.5567321777344 1739.148803710938 367.7634582519531 1742.227294921875 367.9271545410156 C 1743.42724609375 367.9912414550781 1744.512084960938 368.4656677246094 1745.373168945312 369.1965637207031 C 1745.409545898438 369.226806640625 1745.46044921875 369.2034606933594 1745.46044921875 369.1566467285156 C 1745.46044921875 369.1566467285156 1745.46044921875 335.7110595703125 1745.46044921875 335.7110595703125 C 1745.46044921875 335.6641845703125 1745.409545898438 335.6408996582031 1745.373168945312 335.6711730957031 C 1744.512084960938 336.4019470214844 1743.42724609375 336.8755493164062 1742.227294921875 336.9396057128906 C 1739.148803710938 337.1041564941406 1736.623291015625 334.3109436035156 1736.623291015625 331.225830078125 C 1736.623291015625 331.225830078125 1736.623291015625 311.694580078125 1736.623291015625 311.694580078125 C 1736.623291015625 308.6094665527344 1739.148803710938 305.8162536621094 1742.227294921875 305.9807434082031 C 1743.42724609375 306.0439758300781 1744.512084960938 306.5184326171875 1745.373168945312 307.2492065429688 C 1745.409545898438 307.2794799804688 1745.46044921875 307.2561340332031 1745.46044921875 307.2093811035156 C 1745.46044921875 307.2093811035156 1745.46044921875 273.7637939453125 1745.46044921875 273.7637939453125 C 1745.46044921875 273.7169189453125 1745.409545898438 273.6936340332031 1745.373168945312 273.7238464355469 C 1744.512084960938 274.4547729492188 1743.42724609375 274.9282531738281 1742.227294921875 274.9923706054688 C 1739.148803710938 275.1569519042969 1736.623291015625 272.3636779785156 1736.623291015625 269.278564453125 C 1736.623291015625 269.278564453125 1736.623291015625 249.747314453125 1736.623291015625 249.747314453125 C 1736.623291015625 246.6622619628906 1739.148803710938 243.8690185546875 1742.227294921875 244.033447265625 C 1743.42724609375 244.0967102050781 1744.512084960938 244.5712127685547 1745.373168945312 245.3019714355469 C 1745.409545898438 245.3323516845703 1745.46044921875 245.3088836669922 1745.46044921875 245.2621917724609 C 1745.46044921875 245.2621917724609 1745.46044921875 211.8165130615234 1745.46044921875 211.8165130615234 C 1745.46044921875 211.7696685791016 1745.409545898438 211.7463531494141 1745.373168945312 211.7766571044922 C 1744.512084960938 212.5074768066406 1743.42724609375 212.9814605712891 1742.227294921875 213.0455474853516 C 1739.148803710938 213.209716796875 1736.623291015625 210.4159698486328 1736.623291015625 207.3308410644531 C 1736.623291015625 207.3308410644531 1736.623291015625 187.8021850585938 1736.623291015625 187.8021850585938 C 1736.623291015625 184.7171325683594 1739.148803710938 181.9234161376953 1742.227294921875 182.0874786376953 C 1743.42724609375 182.1516418457031 1744.512084960938 182.6256256103516 1745.373168945312 183.3563842773438 C 1745.409545898438 183.3867492675781 1745.46044921875 183.3634338378906 1745.46044921875 183.3166046142578 C 1745.46044921875 183.3166046142578 1745.46044921875 149.8691711425781 1745.46044921875 149.8691711425781 C 1745.46044921875 149.8224792480469 1745.409545898438 149.7990875244141 1745.373168945312 149.8293914794922 C 1744.512084960938 150.5601501464844 1743.42724609375 151.0342864990234 1742.227294921875 151.0982971191406 C 1739.148803710938 151.2623596191406 1736.623291015625 148.4686279296875 1736.623291015625 145.3835906982422 C 1736.623291015625 145.3835906982422 1736.623291015625 125.8549041748047 1736.623291015625 125.8549041748047 C 1736.623291015625 122.7698669433594 1739.148803710938 119.9761428833008 1742.227294921875 120.1402282714844 C 1743.42724609375 120.2043685913086 1744.512084960938 120.6783676147461 1745.373168945312 121.4091949462891 C 1745.409545898438 121.4394073486328 1745.46044921875 121.4160995483398 1745.46044921875 121.3693313598633 C 1745.46044921875 121.3693313598633 1745.46044921875 87.92191314697266 1745.46044921875 87.92191314697266 C 1745.46044921875 87.87521362304688 1745.409545898438 87.85183715820312 1745.373168945312 87.88212585449219 C 1744.512084960938 88.61288452148438 1743.42724609375 89.08702087402344 1742.227294921875 89.15102386474609 C 1739.148803710938 89.31508636474609 1736.623291015625 86.52136993408203 1736.623291015625 83.43633270263672 C 1736.623291015625 83.43633270263672 1736.623291015625 63.90765762329102 1736.623291015625 63.90765762329102 C 1736.623291015625 60.82261657714844 1739.148803710938 58.02896881103516 1742.227294921875 58.19295883178711 Z">

                                    </path>

                                </svg>

                            </div>

                        </div>

                    </div>

                </div>

                <div id="Group_n">

                    <div id="Group_o">

                        <svg class="Path_p" viewBox="0.002 0.007 725.094 460.081">

                            <path id="Path_p" d="M 680.2361450195312 460.0878295898438 C 709.0370483398438 396.8313598632812 725.0963745117188 326.539794921875 725.0963745117188 252.4904174804688 C 725.0963745117188 160.4153594970703 700.2637329101562 74.15515899658203 656.971923828125 0.006599999964237213 C 656.971923828125 0.006599999964237213 44.82960891723633 0.006599999964237213 44.82960891723633 0.006599999964237213 C 44.83659744262695 0.3187180161476135 44.85337448120117 0.6282545924186707 44.85337448120117 0.9416633248329163 C 44.85337448120117 25.21535110473633 25.19145965576172 44.89290618896484 0.9366801381111145 44.89290618896484 C 0.6234991550445557 44.89290618896484 0.3141902387142181 44.8755989074707 0.002300000051036477 44.86914443969727 C 0.002300000051036477 44.86914443969727 0.002300000051036477 59.85195159912109 0.002300000051036477 59.85195159912109 C 0.002300000051036477 59.90182876586914 0.05848275870084763 59.92338943481445 0.09317941218614578 59.8870964050293 C 1.388723373413086 58.49945831298828 3.39163875579834 57.7848014831543 5.55239725112915 58.41898345947266 C 7.842679977416992 59.09089660644531 9.290145874023438 61.36592102050781 9.290145874023438 63.75399017333984 C 9.290145874023438 63.75399017333984 9.290145874023438 83.58960723876953 9.290145874023438 83.58960723876953 C 9.290145874023438 85.97806549072266 7.842679977416992 88.25308227539062 5.55239725112915 88.92500305175781 C 3.39163875579834 89.55933380126953 1.388723373413086 88.84407043457031 0.09317941218614578 87.45696258544922 C 0.05848275870084763 87.42059326171875 0.002300000051036477 87.44223022460938 0.002300000051036477 87.49203491210938 C 0.002300000051036477 87.49203491210938 0.002300000051036477 121.799201965332 0.002300000051036477 121.799201965332 C 0.002300000051036477 121.8493881225586 0.05848275870084763 121.8707275390625 0.09317941218614578 121.8342819213867 C 1.388723373413086 120.4467239379883 3.39163875579834 119.732063293457 5.55239725112915 120.3662414550781 C 7.842679977416992 121.0381546020508 9.290145874023438 123.3131790161133 9.290145874023438 125.7012557983398 C 9.290145874023438 125.7012557983398 9.290145874023438 145.5368804931641 9.290145874023438 145.5368804931641 C 9.290145874023438 147.9253234863281 7.842679977416992 150.2003479003906 5.55239725112915 150.8722686767578 C 3.39163875579834 151.5066070556641 1.388723373413086 150.7917938232422 0.09317941218614578 149.4043121337891 C 0.05848275870084763 149.3679351806641 0.002300000051036477 149.3895721435547 0.002300000051036477 149.4393005371094 C 0.002300000051036477 149.4393005371094 0.002300000051036477 183.7465515136719 0.002300000051036477 183.7465515136719 C 0.002300000051036477 183.7962646484375 0.05848275870084763 183.8179931640625 0.09317941218614578 183.7815399169922 C 1.388723373413086 182.3940582275391 3.39163875579834 181.6792449951172 5.55239725112915 182.3134918212891 C 7.842679977416992 182.9854278564453 9.290145874023438 185.2604370117188 9.290145874023438 187.6485900878906 C 9.290145874023438 187.6485900878906 9.290145874023438 207.4840698242188 9.290145874023438 207.4840698242188 C 9.290145874023438 209.8725891113281 7.842679977416992 212.147705078125 5.55239725112915 212.8195343017578 C 3.39163875579834 213.4538726806641 1.388723373413086 212.7390594482422 0.09317941218614578 211.3514862060547 C 0.05848275870084763 211.3151092529297 0.002300000051036477 211.3368225097656 0.002300000051036477 211.3865661621094 C 0.002300000051036477 211.3865661621094 0.002300000051036477 245.6915283203125 0.002300000051036477 245.6915283203125 C 0.002300000051036477 245.7418670654297 0.05848275870084763 245.7635040283203 0.09317941218614578 245.7271270751953 C 1.388723373413086 244.3391418457031 3.39163875579834 243.6248474121094 5.55239725112915 244.2585601806641 C 7.842679977416992 244.9304809570312 9.290145874023438 247.2059478759766 9.290145874023438 249.5940399169922 C 9.290145874023438 249.5940399169922 9.290145874023438 269.4317626953125 9.290145874023438 269.4317626953125 C 9.290145874023438 271.8198547363281 7.842679977416992 274.0954284667969 5.55239725112915 274.7672729492188 C 3.39163875579834 275.4010620117188 1.388723373413086 274.6858520507812 0.09317941218614578 273.298828125 C 0.05848275870084763 273.2623901367188 0.002300000051036477 273.2839965820312 0.002300000051036477 273.3342895507812 C 0.002300000051036477 273.3342895507812 0.002300000051036477 307.6388549804688 0.002300000051036477 307.6388549804688 C 0.002300000051036477 307.6891174316406 0.05848275870084763 307.7107849121094 0.09317941218614578 307.6743774414062 C 1.388723373413086 306.286376953125 3.39163875579834 305.5720825195312 5.55239725112915 306.205810546875 C 7.842679977416992 306.8777465820312 9.290145874023438 309.1532287597656 9.290145874023438 311.5413818359375 C 9.290145874023438 311.5413818359375 9.290145874023438 331.3790283203125 9.290145874023438 331.3790283203125 C 9.290145874023438 333.7671203613281 7.842679977416992 336.0426940917969 5.55239725112915 336.7145080566406 C 3.39163875579834 337.3482971191406 1.388723373413086 336.6331176757812 0.09317941218614578 335.2460021972656 C 0.05848275870084763 335.2096557617188 0.002300000051036477 335.2312927246094 0.002300000051036477 335.2815551757812 C 0.002300000051036477 335.2815551757812 0.002300000051036477 369.5861206054688 0.002300000051036477 369.5861206054688 C 0.002300000051036477 369.6363220214844 0.05848275870084763 369.6580505371094 0.09317941218614578 369.62158203125 C 1.388723373413086 368.233642578125 3.39163875579834 367.5193481445312 5.55239725112915 368.1531677246094 C 7.842679977416992 368.8250122070312 9.290145874023438 371.1004943847656 9.290145874023438 373.4885559082031 C 9.290145874023438 373.4885559082031 9.290145874023438 393.3245544433594 9.290145874023438 393.3245544433594 C 9.290145874023438 395.7126159667969 7.842679977416992 397.9873046875 5.55239725112915 398.6591186523438 C 3.39163875579834 399.2939147949219 1.388723373413086 398.5786437988281 0.09317941218614578 397.1915893554688 C 0.05848275870084763 397.1552734375 0.002300000051036477 397.1768493652344 0.002300000051036477 397.2261657714844 C 0.002300000051036477 397.2261657714844 0.002300000051036477 415.2257080078125 0.002300000051036477 415.2257080078125 C 0.3141902387142181 415.2188110351562 0.6234991550445557 415.2015380859375 0.9366801381111145 415.2015380859375 C 25.19145965576172 415.2015380859375 44.85337448120117 434.8790893554688 44.85337448120117 459.1527099609375 C 44.85337448120117 459.4660949707031 44.83659744262695 459.7751770019531 44.82960891723633 460.0878295898438 C 44.82960891723633 460.0878295898438 680.2361450195312 460.0878295898438 680.2361450195312 460.0878295898438 Z">

                            </path>

                        </svg>

                    </div>

                </div>

                <div id="bor">

                    <img id="bdr" src="https://i.postimg.cc/zfvmsVqv/border.png">

                </div>

                <div id="2ndborder">

                    <img id="rc2" src="https://i.postimg.cc/Hxm0hPGt/exc-border.png" width="423" height="79">

                </div>
            </div>

            @*<img id="Bosch_logo" style="margin: 10px; width: 18A0px; height: auto;"
            src="https://utcbridge.com/utc-uat/Content/DB_Files/SponsorLogo/pineLabs.png">*@

            @if (@Model.abbredemptionDc.BULogoName != null)
            {
                <img id="Bosch_logo" style="margin: 10px; width: 18A0px; height: auto;"
                     src="@Model.abbredemptionDc.BULogoName">
            }
            else
            {
                <img id="Bosch_logo"
                     src="https://i.pinimg.com/originals/3f/95/48/3f9548beef7804b53a111ced870da0c6.png">
            }



            <img id="Digi2L_Logo_Final" src="https://i.postimg.cc/43LkwcgC/Digi2-L-Logo-Final.png">



            <div id="Voucher_Code">

                <span>Voucher Code</span>

            </div>

            <div id="n_AMOUNT">



                @Html.DisplayFor(model => model.abbredemptionDc.RedemptionValue, new { htmlAttributes = new { @class = "form-control", @id = "txtExchangePrice" } })/-

            </div>

            <div id="n_validdate">

                Valid Till :  @Html.DisplayFor(model => model.abbredemptionDc.VoucherCodeExpDateString, new { htmlAttributes = new { @class = "form-control", @id = "txtVoucherCodeExpDateString" } })

            </div>

            <div id="Powered_by_UTC_Digital_Pvt_Ltd">

                <span>Powered by UTC Digital Pvt. Ltd.</span>

            </div>



            <div id="Tc">

                @for (int i = 0; i < Model.abbredemptionDc.TermsandCondition.Count; i++)
                {
                    <span>&#8226  @Model.abbredemptionDc.TermsandCondition[i].Text</span>
                }
                <span>&#8226 Product price is subject to quality check.</span>

            </div>



            <div id="EXCH29">

                @Html.DisplayFor(model => model.abbredemptionDc.VoucherCode, new { htmlAttributes = new { @class = "form-control", @id = "txtRNumber" } })

            </div>

            <div id="wwwdigi2lin">

                <span>www.digi2l.in</span>

            </div>

            <div id="Voucher_Worth_Rs">

                <span>Voucher Worth Upto ₹</span>

            </div>

        </div>

    </div>

</div>

<script src="/utc-uat/Scripts/jquery-3.4.1.min.js"></script>

<script src="/utc-uat/Scripts/jquery.validate.min.js"></script>

<script src="/utc-uat/Scripts/jquery.validate.unobtrusive.min.js"></script>

<script src="/utc-uat/Scripts/html2canvas.min.js"></script>

<script>

    $(document).ready(function () {

        html2canvas(document.getElementById("Web_1920__1"), {

            allowTaint: true,

            useCORS: true

        }).then(function (canvas) {

            var anchorTag = document.createElement("a");

            document.body.appendChild(anchorTag);

            document.getElementById("previewImg").appendChild(canvas);

            anchorTag.download = "DIGI2L_Voucher.jpg";

            anchorTag.href = canvas.toDataURL();

            anchorTag.target = '_blank';

            anchorTag.click();



        });
    });
</script>