@page
@model RDCELERP.Core.App.Pages.PayOut.GetBeneficiaryDetailsModel
@{
    ViewData["Title"] = "Get Beneficiary Details";
    Layout = "_Layout";
    RDCELERP.Model.Base.AccessRuleViewModel accessRule = (RDCELERP.Model.Base.AccessRuleViewModel)ViewBag.AccessRule;
    var URLPrefixforProd = ViewData["URLPrefixforProd"];
}
@if (ViewData["UserAuth"] != null)
{
    <script type="text/javascript">
        alert("@ViewData["UserAuth"]");
    </script>
}


<div class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="col-12 mb-4">
                <div class="card border-0 shadow">
                    <div class="card-header card-header-wrapper">
                        <div class="row align-items-center card-title">
                            <div class="col-md-6">
                                <h2 class="fs-5 mb-0">
                                    BeneficiaryDetails
                                </h2>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row detailed-reporting">
                            <div class="pt-4"></div>
                            @if (Model != null)
                            {
                                <div class="row detailed-reporting">
                                    <div class="col-md-3 mb-3">
                                        <p><span>Beneficiary Id</span>@Html.DisplayFor(@model => model.BeneficiaryDetails.beneId)</p>
                                    </div>
                                    <div class="col-md-3 mb-3">
                                        <p><span>Beneficiary Name</span>@Html.DisplayFor(model => model.BeneficiaryDetails.name)</p>
                                    </div>
                                    <div class="col-md-3 mb-3">
                                        <p><span>Address 1</span>@Html.DisplayFor(model => model.BeneficiaryDetails.address1)</p>
                                    </div>
                                    <div class="col-md-3 mb-3">
                                        <p><span>Address 2</span>@Html.DisplayFor(Model => Model.BeneficiaryDetails.address2)</p>
                                    </div>
                                    <div class="col-md-3 mb-3">
                                        <p><span>Pin Code</span>@Html.DisplayFor(model => model.BeneficiaryDetails.pincode)</p>
                                    </div>
                                    <div class="col-md-3 mb-3">
                                        <p><span>State</span>@Html.DisplayFor(model => model.BeneficiaryDetails.state)</p>
                                    </div>
                                    <div class="col-md-3 mb-3">
                                        <p><span>City</span>@Html.DisplayFor(model => model.BeneficiaryDetails.city)</p>
                                    </div>
                                    <div class="col-md-3 mb-3">
                                        <p><span>Phone Number</span>@Html.DisplayFor(model => model.BeneficiaryDetails.phone)</p>
                                    </div>
                                    <div class="col-md-3 mb-3">
                                        <p><span>Email Address</span>@Html.DisplayFor(model => model.BeneficiaryDetails.email)</p>
                                    </div>
                                    <div class="col-md-3 mb-3">
                                        <p><span>UPI ID</span>@Html.DisplayFor(model => model.BeneficiaryDetails.vpa)</p>
                                    </div>

                                    @if (Model?.BeneficiaryDetails != null && Model?.BeneficiaryDetails.beneId != null)
                                    {
                                        <form action="" method="post" enctype="multipart/form-data" id="PayOutFormForm">
                                            <div class="row">
                                                <input type="hidden" asp-for="BeneficiaryDetails.beneId" id="beneId" />
                                                <input type="hidden" asp-for="BeneficiaryDetails.name" id="name" />
                                                <input type="hidden" asp-for="BeneficiaryDetails.email" id="email" />
                                                <div class="col-6">
                                                    @if (accessRule != null && accessRule.CanView)
                                                    {
                                                        <a href='javascript:history.go(-1)' class="btn btn-secondary">Back</a>
                                                    }
                                                </div>
                                                <div class="col-6 text-end">
                                                    <input type="button" value="Delete Beneficiary" class="btn btn-primary" asp-page-handler="Payment" id="btnformSubmit" />
                                                </div>
                                            </div>
                                        </form>
                                    }
                                    <hr />
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    $(document).ready(function () {


        $("#btnformSubmit").click(function () {
            Swal.fire({
                title: 'Are you sure?',
                text: "You won't be able to revert this!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, delete it!'
            }).then((result) => {
                if (result.isConfirmed) {
                    Swal.fire(
                        'Deleted!',
                        'Your file has been deleted.',
                        'success'
                    )
                    $("#PayOutFormForm").submit();
                }
            })
        });

        
    });

</script>                                               