@page
@model RDCELERP.Core.App.Pages.PriceMaster.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TblPriceMaster</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TblPriceMaster.ZohoPriceMasterId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TblPriceMaster.ZohoPriceMasterId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TblPriceMaster.ExchPriceCode)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TblPriceMaster.ExchPriceCode)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TblPriceMaster.ProductCat)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TblPriceMaster.ProductCat)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TblPriceMaster.ProductType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TblPriceMaster.ProductType)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TblPriceMaster.ProductTypeCode)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TblPriceMaster.ProductTypeCode)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TblPriceMaster.BrandName1)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TblPriceMaster.BrandName1)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TblPriceMaster.BrandName2)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TblPriceMaster.BrandName2)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TblPriceMaster.BrandName3)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TblPriceMaster.BrandName3)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TblPriceMaster.BrandName4)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TblPriceMaster.BrandName4)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TblPriceMaster.QuotePHigh)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TblPriceMaster.QuotePHigh)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TblPriceMaster.QuoteQHigh)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TblPriceMaster.QuoteQHigh)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TblPriceMaster.QuoteRHigh)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TblPriceMaster.QuoteRHigh)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TblPriceMaster.QuoteSHigh)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TblPriceMaster.QuoteSHigh)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TblPriceMaster.QuoteP)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TblPriceMaster.QuoteP)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TblPriceMaster.QuoteQ)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TblPriceMaster.QuoteQ)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TblPriceMaster.QuoteR)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TblPriceMaster.QuoteR)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TblPriceMaster.QuoteS)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TblPriceMaster.QuoteS)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TblPriceMaster.PriceStartDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TblPriceMaster.PriceStartDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TblPriceMaster.PriceEndDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TblPriceMaster.PriceEndDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TblPriceMaster.OtherBrand)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TblPriceMaster.OtherBrand)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TblPriceMaster.IsActive)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TblPriceMaster.IsActive)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TblPriceMaster.CreatedBy)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TblPriceMaster.CreatedBy)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TblPriceMaster.CreatedDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TblPriceMaster.CreatedDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TblPriceMaster.ModifiedBy)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TblPriceMaster.ModifiedBy)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TblPriceMaster.ModifiedDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TblPriceMaster.ModifiedDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TblPriceMaster.ProductCategory)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TblPriceMaster.ProductCategory.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TblPriceMaster.ProductTypeNavigation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TblPriceMaster.ProductTypeNavigation.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.TblPriceMaster.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
